* {
  font-family: 'Montserrat', sans-serif; }

.container {
  position: relative;
  margin: 0 auto;
  width: 1500px;
  z-index: 3; }

@media only screen and (max-width: 1700px) {
  .container {
    width: 1400px; } }

@media only screen and (max-width: 1440px) {
  .container {
    width: 1200px; } }

@media only screen and (max-width: 1200px) {
  .container {
    width: 1100px; } }

@media only screen and (max-width: 1144px) {
  .container {
    width: 820px;
    margin: 0 auto; } }

.btn {
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 1px 0 #a88627;
  background-image: linear-gradient(to top, #ffc831, #ffd700);
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #404040; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 96px;
  height: 40px; }
  .header__logo img {
    max-width: 241px; }
  .header__social {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__link {
    display: block;
    margin: 0 8px;
    border-radius: 100%;
    background-color: #fff; }
    .header__link img {
      width: 32px;
      height: 32px; }

@media only screen and (max-width: 1440px) {
  .header {
    margin-bottom: 36px; } }

@media only screen and (max-width: 1144px) {
  .header {
    margin-bottom: 30px; } }

.promo {
  position: relative;
  height: 100vh;
  padding: 115px 0 140px 0;
  background: linear-gradient(#CA75EB, #5D88F2); }
  .promo:before {
    content: '';
    position: fixed;
    left: -220px;
    top: 0px;
    bottom: 0px;
    display: block;
    width: 900px;
    transform: skewX(-13.42deg);
    background-color: #fff;
    z-index: 2; }
  .promo__wrapper {
    display: flex;
    padding-left: 36px; }
  .promo__img {
    display: block;
    margin-right: 150px;
    max-width: 527px; }
  .promo__header {
    margin-top: 72px;
    font-weight: bold;
    font-size: 36px;
    line-height: 1;
    color: #FEFEFF; }
  .promo__subheader {
    margin-top: 35px;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    color: #FEFEFF; }
  .promo__descr {
    margin-top: 45px;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #FEFEFF; }
  .promo__school {
    margin-top: 220px;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #FEFEFF;
    text-align: center; }
  .promo__form {
    margin-top: 45px; }
    .promo__form input {
      margin-right: 30px;
      padding: 20px 20px;
      width: 325px;
      height: 67px;
      background: #FEFEFF;
      border: none;
      border-radius: 5px;
      font-weight: normal;
      font-size: 20px;
      line-height: 24px;
      color: #726C6C;
      text-align: center; }
  .promo__btn {
    width: 346px;
    height: 67px;
    background: #5915B4;
    border-radius: 5px;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FEFEFF; }

@media only screen and (max-width: 1700px) {
  .promo__img {
    margin-right: 110px; } }

@media only screen and (max-width: 1440px) {
  .promo {
    padding: 60px 0 80px 0; }
    .promo__img {
      margin-right: 70px;
      width: 450px;
      height: 381px; }
    .promo__header {
      font-size: 28px; }
    .promo__subheader {
      margin-top: 20px;
      font-size: 18px;
      line-height: 29px; }
    .promo__form {
      margin-top: 20px; }
      .promo__form input {
        font-size: 18px;
        margin-right: 25px;
        width: 290px;
        height: 60px; }
    .promo__btn {
      font-size: 18px;
      width: 310px;
      height: 60px; }
    .promo__descr {
      font-size: 17px; }
    .promo__school {
      margin-top: 60px;
      font-size: 18px; } }

@media only screen and (max-width: 1200px) {
  .promo {
    padding: 60px 0 90px 0; }
    .promo__header {
      font-size: 29px; }
    .promo__subheader {
      margin-top: 30px;
      font-size: 20px; }
    .promo__form input {
      width: 237px;
      height: 55px;
      font-size: 18px; }
    .promo__btn {
      width: 270px;
      height: 55px;
      font-size: 18px; }
    .promo__descr {
      font-size: 16px; }
    .promo__school {
      font-size: 20px; } }

@media only screen and (max-width: 1144px) {
  .promo {
    padding: 60px 0 90px 0; }
    .promo:before {
      left: -562px; }
    .promo__wrapper {
      padding-left: 5px; }
    .promo__img {
      margin-right: 40px;
      max-height: 272px;
      max-width: 320px; }
    .promo__header {
      margin-top: 59px;
      font-size: 22px; }
    .promo__subheader {
      margin-top: 20px;
      font-size: 17px;
      line-height: 20px; }
    .promo__form input {
      margin-right: 5px;
      width: 200px;
      height: 41px;
      font-size: 15px; }
    .promo__btn {
      width: 200px;
      height: 41px;
      font-size: 15px; }
    .promo__descr {
      font-size: 13px; }
    .promo__school {
      margin-top: 50px;
      font-size: 17px; } }

@media only screen and (max-width: 1856px) {
  .promo:before {
    left: -276px; } }

@media only screen and (max-width: 1700px) {
  .promo:before {
    left: -390px; } }

@media only screen and (max-width: 1440px) {
  .promo:before {
    left: -497px; } }

@media only screen and (max-width: 1200px) {
  .promo:before {
    left: -540px; } }

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.56);
  z-index: 25; }

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  min-height: 100px;
  padding: 38px 40px 40px 40px;
  border-radius: 30px;
  border: 5px solid #CA75EB;
  background-color: #ffffff;
  z-index: 30; }
  .modal__close {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background-color: #9B9B9B;
    cursor: pointer; }
    .modal__close span {
      position: absolute;
      display: block;
      width: 51px;
      height: 6px;
      top: 50%;
      left: 50%;
      background-color: #fff;
      transform: translate(-50%, -50%) rotate(45deg); }
      .modal__close span:last-child {
        transform: translate(-50%, -50%) rotate(-45deg); }
  .modal__subtitle {
    font-family: 'Open Sans';
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: #0d0d0d; }

#thanks, .overlay {
  display: none; }
