@import 'base/variables'

*
    font-family: 'Montserrat', sans-serif

.title
    font-size: 28px
    font-weight: 800
    line-height: normal
    color: #49494B
    text-align: center
    text-transform: uppercase
    span
        border-bottom: 4px solid #7BB63C
.subtitle
    margin-top: 25px
    font-size: 18px
    font-weight: 500
    line-height: normal
    color: #484645
    text-align: center

// @media only screen and (max-width: 991px)
//     .title
//         font-size: 16px
//         margin-bottom: 0
//     .subtitle
//         margin-top: 6px
//         font-size: 12px

// @media only screen and (max-width: 575px)
//     .title
//         font-size: 19px
//     .subtitle
//         &__calculation
//             margin-top: 17px


@import 'blocks/container'
@import 'blocks/header'
@import 'blocks/promo'
@import 'blocks/part'
@import 'blocks/causes'
@import 'blocks/request'
@import 'blocks/license'
@import 'blocks/footer'
// @import 'blocks/thanks'