*
    font-family: 'Open Sans', sans-serif
    
.title
    margin-bottom: 0
    font-size: 45px
    font-weight: bold
    line-height: normal
    color: #49494b
    text-align: center
    span
        box-sizing: content-box
        border-bottom: 4px solid #fccd63

.subtitle
    margin-top: 30px
    font-size: 25px
    line-height: normal
    color: #49494b
    text-align: center
    &_mt36
        margin-top: 36px

.prev,.next
    display: flex
    justify-content: center
    align-items: center
    padding: 0
    position: absolute
    top: 50%
    left: -145px
    transform: translateY(-50%)
    width: 90px
    height: 90px
    border-radius: 100%
    border: none
    box-shadow: 0 4px 1px 0 #c89410
    background-color: #fac744
    img
        display: block
        max-width: 70px
        margin-left: -5px
    &__feedback
        display: none
.next
    right: -145px
    left: auto
    img
        margin-left: 5px

@media only screen and (max-width: 1700px)
    .prev
        left: -95px
    .next
        right: -95px

@media only screen and (max-width: 1390px)
    .prev
        top: 120%
        left: 30%
    .next
        top: 120%
        right: 30%



@media only screen and (max-width: 768px)
    .title, .subtitle
        text-align: left
    .prev, .next
        top: 510px
        &__feedback
            display: flex
            top: 860px
    .prev
        left: 0
        &__feedback
            left: 65px
    .next
        right: 0
        &__feedback
            right: 65px

@media only screen and (max-width: 425px)
    .title
        font-size: 28px
    .subtitle
        font-size: 18px
    .prev
        &__feedback
            left: 10px
    .next
        &__feedback
            right: 10px

.calendar
    margin-top: 58px;
    transform: translateX(262px);


@import 'blocks/containers' 
@import 'blocks/promo'
@import 'blocks/header'
@import 'blocks/buttons'
@import 'blocks/cost'
@import 'blocks/discount'
@import 'blocks/forms'
@import 'blocks/result'
@import 'blocks/calculate'
@import 'blocks/feedback'
@import 'blocks/footer'