.causes
    padding: 100px 0 120px 0
    background: #fff
    &__main
        margin-top: 70px
        display: flex
        justify-content: space-between
        align-items: flex-start
    &__img
        display: block
        width: 350px
    &__wrapper
        width: 60%
    &__item
        display: flex
        justify-content: flex-end
        align-items: center
        margin-bottom: 35px
        &-text
            &_header
                font-weight: 600
                font-size: 16px
                line-height: 35px
                text-align: right
                color: #474645
                opacity: 0.9
            &__main
                font-weight: normal
                font-size: 14px
                line-height: 30px
                text-align: right
                color: #484645
                opacity: 0.9
        &-img
            display: flex
            justify-content: center
            align-items: center
            margin-left: 20px
            width: 53px
            height: 53px
            border-radius: 100%
            background: #6EAE26
            box-shadow: 0px 1px 0px #598E1D

@media only screen and (max-width: 1650px)
    .causes
        padding: 60px 0 70px 0

// @media only screen and (max-width: 1090px)
//     .causes
//         &__item
//             padding: 21px 5px 30px
//             width: 170px
//             height: 188px
//             &:nth-child(1)
//                 padding: 21px 20px 30px
//         &__img
//             width: 48px
//         &__header
//             margin-top: 18px
//             font-size: 12px
//             line-height: 15px
//         &__descr
//             margin-top: 8px
//             font-size: 10px
//             line-height: 12px
    
// @media only screen and (max-width: 690px)
//     .causes
//         display: none