.footer
    padding: 60px 0 80px 0
    background: url('../img/main_bg.jpg') center center/cover no-repeat
    &__main
        margin-top: 60px
        display: flex
        justify-content: space-between
        align-items: flex-start
        font-weight: normal
        font-size: 16px
        line-height: 20px
        color: #484645
    &__contacts
        margin-bottom: 40px
    &__contacts-back
        margin-bottom: 20px
    &__btn
        width: 244px
        height: 53px
        opacity: 1
        border-radius: 4px
    &__links
        text-align: right
    &__info
        margin-bottom: 35px
    &__partner
        margin-bottom: 30px
    &__img
        width: 420px

        
    
// @media only screen and (max-width: 1650px)
//     .footer
//         // padding: 20px 0 25px 0
//         &__share
//             font-size: 12px
//         &__social
//             margin-left: 20px
//             a
//                 img
//                     width: 31px
//                     height: 31px

// @media only screen and (max-width: 1090px)
//     .footer
//         padding: 21px 0 24px 0
//         &__share
//             font-size: 7px
//             line-height: 9px
//         &__social
//             a
//                 img
//                     width: 18px
//                     height: 18px

// @media only screen and (max-width: 690px)
//     .footer
//         padding: 29px 0 37px
//         &__share
//             display: none                    