.container_header
    display: flex
    justify-content: space-between
    align-items: center
    background-color: #fff
    height: 100px

.logo
    width: 220px

.header
    &__menu
        padding: 0
        margin: 0
        margin-left: 130px
        width: 400px
        display: flex
        justify-content: space-between
        list-style-type: none
        &-item
            display: flex
            align-items: center
    &__link
        opacity: 0.8
        font-size: 20px
        font-weight: 500
        line-height: 10px
        color: #000000
        text-decoration: none
        &:hover
            color: $main-color
    &__cabinet
        font-size: 20px
        font-weight: 900
        line-height: 10px
        color: #000000
    &__log
        font-weight: 500
        font-size: 20px
        line-height: 12px
        color: #000000
        opacity: 0.8
        border: none
        background-color: transparent
    &__btn
        width: 203px
        height: 38px
        border: none
        background: radial-gradient(49.14% 50% at 48.29% 0%, rgba(129, 192, 57, 0.5) 0%, rgba(255, 255, 255, 0) 100%, #6EAE26 100%), #6EAE26
        box-shadow: 0px 0.3px 0px #598E1D
        border-radius: 1px
        font-weight: 600
        font-size: 20px
        line-height: 5px
        color: #FFFFFF
        opacity: 0.8
        text-shadow: 0px 0.5px 0.5px #51811B


@media only screen and (max-width: 1650px)
    .container_header
        height: 60px
    .logo
        width: 155px
    .header
        &__menu
            margin: 0 45px 0 25px
            width: 330px
        &__link
            font-size: 15px
        &__log
            margin-right: 15px
            font-size: 15px
        &__btn
            width: 161px
            height: 28px
            font-size: 15px
    
// @media only screen and (max-width: 1090px)
//     .container_header
//         height: 40px
//     .logo
//         width: auto
//     .header
//         &__menu
//             margin-left: 120px
//             width: 201px
//         &__link
//             font-size: 10px
//         &__phone
//             font-size: 10px

// @media only screen and (max-width: 690px)
//     .header
//         &__menu
//             display: none
//         &__phone
//             line-height: 20px