.request
    padding: 100px 0 120px 0
    background: url('../img/main_bg.jpg') center center/cover no-repeat
    &__form
        padding-top: 60px
        width: 50%
        height: 350px
        text-align: center
        font-size: 30px
        background-color: #d3d3d3

.order1 
    order: 2

.tal
    text-align: left

.fls
    justify-content: flex-start

.order2
    margin: 0
    margin-right: 20px
    order: 1

@media only screen and (max-width: 1650px)
    .request
        padding: 50px 0 80px 0
   
// @media only screen and (max-width: 1090px)
//     .chlist
//         margin-top: 38px
//         &__header
//             margin: 30px 0 20px 0
//             font-size: 14px
//         &__subheader
//             margin: 0 0 20px 0 
//             font-size: 12px
//         &__item
//             width: 180px
//             &_long
//                 width: 100%
//             &_medium
//                 width: calc(100% - 210px)
//             label
//                 margin-bottom: 11px
//                 font-size: 10px
//             input[type=text], input[type=number], input[type=datetime], select
//                 padding: 6px 15px
//                 border-radius: 3px
//                 font-size: 12px
//                 line-height: 12px
//                 width: 180px
//                 height: 30px
//         &__options
//             &_short
//                 width: calc(100% - 210px)
//         &__continue
//             margin-top: 31px
//         &__policy
//             padding-left: 37px
//             font-size: 7px
//             line-height: 9px
//             &:before
//                 left: 0px
//         &__btn
//             width: 142px
//             height: 30px
//             font-size: 12px

// @media only screen and (max-width: 690px)
//     .request
//         padding: 34px 0 37px 0
//     .chlist
//         margin-top: 35px
//         &__header
//             margin-bottom: 14px
//             font-size: 14px
//         &__subheader
//             margin-bottom: 0
//             font-size: 10px
//         &__item
//             width: 180px
//             &_long
//                 max-width: 550px
//                 width: 100%
//             &_medium
//                 max-width: 550px
//                 width: 100%
//             label
//                 margin-top: 11px
//                 margin-bottom: 11px
//                 font-size: 10px
//             input[type=text], input[type=number], input[type=datetime], select
//                 padding: 6px 15px
//                 border-radius: 3px
//                 font-size: 12px
//                 line-height: 12px
//                 width: 180px
//                 height: 30px
//         &__options
//             margin: 0
//             flex-direction: column
//             &_short
//                 width: 100%
//         &__continue
//             flex-direction: column-reverse
//             margin-top: 31px
//             justify-content: flex-start
//             align-items: flex-start
//         &__policy
//             padding-left: 37px
//             font-size: 6px
//             line-height: 7px
//             &:before
//                 left: 0px
//         &__btn
//             margin-bottom: 33px
//             width: 170px
//             height: 40px
//             font-size: 16px

// #chlist__item_long
//     height: 69px