@import 'base/variables'

*
    font-family: 'Montserrat', sans-serif

.title
    font-size: 28px
    font-weight: 800
    line-height: normal
    color: #49494B
    text-align: center
    text-transform: uppercase
    span
        border-bottom: 4px solid #7BB63C
.subtitle
    margin-top: 25px
    font-size: 18px
    font-weight: 500
    line-height: normal
    color: #484645
    text-align: center

@media only screen and (max-width: 1650px)
    .title
        font-size: 22px
        span
            border-bottom: 3px solid #7BB63C
    .subtitle
        margin-top: 18px
        font-size: 16px
        line-height: 20px

// @media only screen and (max-width: 1090px)
//     .title
//         font-size: 16px
//         line-height: 20px
//     .subtitle
//         font-size: 12px
//         line-height: 15px

// @media only screen and (max-width: 690px)
//     .title
//         font-size: 14px
//         line-height: 17px
//         text-align: left
//     .subtitle
//         font-size: 10px
//         line-height: 12px
//         text-align: left
        


@import 'blocks/container'
@import 'blocks/header'
@import 'blocks/promo'
@import 'blocks/causes'
@import 'blocks/request'
@import 'blocks/buy'
@import 'blocks/footer'
// @import 'blocks/thanks'