* {
  font-family: 'Montserrat', sans-serif; }

.container {
  position: relative;
  margin: 0 auto;
  width: 1400px;
  z-index: 3; }

@media only screen and (max-width: 1700px) {
  .container {
    width: 1200px; } }

@media only screen and (max-width: 1500px) {
  .container {
    width: 1000px; } }

@media only screen and (max-width: 1200px) {
  .container {
    width: 900px; } }

.btn {
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 1px 0 #a88627;
  background-image: linear-gradient(to top, #ffc831, #ffd700);
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #404040; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px; }
  .header__logo img {
    max-width: 241px; }
  .header__btn {
    width: 281px;
    height: 54px;
    border: 2px solid #EFA419;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    color: #FFFFFF; }

@media only screen and (max-width: 1500px) {
  .header__btn {
    font-size: 20px; } }

.promo {
  position: relative;
  padding: 75px 0 125px 0;
  height: 100vh;
  background: linear-gradient(60.62deg, #1B51BB 0%, #601CAD 100%);
  overflow: hidden; }
  .promo a:hover {
    text-decoration: none; }
  .promo:before {
    content: '';
    position: absolute;
    top: 345px;
    left: 83px;
    display: block;
    width: 572px;
    height: 435px;
    background: url("../img/img_bg_left.png") center center/cover no-repeat; }
  .promo:after {
    content: '';
    position: absolute;
    top: 297px;
    right: 62px;
    display: block;
    width: 594px;
    height: 452px;
    background: url("../img/img_bg_right.png") center center/cover no-repeat; }
  .promo__header {
    margin-top: 100px;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
    text-align: center; }
  .promo__btn {
    display: block;
    margin: 0 auto;
    margin-top: 75px;
    width: 327px;
    height: 75px;
    background: #EFA419;
    box-shadow: 0px 2px 1px #8E610E;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    color: #FFFFFF;
    text-shadow: 0px 1.5px 2px #93630A; }
  .promo__descr {
    margin-top: 75px;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF; }
    .promo__descr span {
      color: #EFA419; }
  .promo__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 87px;
    width: 100%; }
  .promo__item {
    width: calc(33% - 35px); }
    .promo__item:nth-child(2) {
      margin: 0 35px; }
    .promo__item-img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      width: 100%; }
    .promo__item-wrapper {
      display: flex;
      margin-top: 40px; }
    .promo__item-number {
      padding-right: 20px;
      font-weight: bold;
      font-size: 46px;
      line-height: 1;
      color: #FDD52E; }
    .promo__item-text {
      font-weight: normal;
      font-size: 20px;
      line-height: 24px;
      color: #FFFFFF; }

@media only screen and (max-width: 1700px) {
  .promo {
    padding: 0;
    padding-top: 20px; }
    .promo:before {
      width: 430px;
      height: 325px; }
    .promo:after {
      width: 420px;
      height: 390px; }
    .promo__header {
      margin-top: 60px;
      font-size: 30px;
      line-height: 35px; }
    .promo__btn {
      margin-top: 50px;
      width: 290px;
      height: 67px;
      font-size: 22px; }
    .promo__descr {
      font-size: 20px;
      line-height: 25px;
      margin-top: 40px; }
    .promo__info {
      margin-top: 40px; }
    .promo__item {
      width: calc(33% - 50px); }
      .promo__item-wrapper {
        margin-top: 10px; }
      .promo__item-number {
        padding-right: 15px; }
      .promo__item-text {
        font-size: 14px; } }

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.56);
  z-index: 25; }

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  min-height: 100px;
  padding: 38px 40px 40px 40px;
  border-radius: 30px;
  border: 5px solid #B1CC19;
  background-color: #ffffff;
  z-index: 30; }
  .modal__close {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background-color: #9B9B9B;
    cursor: pointer; }
    .modal__close span {
      position: absolute;
      display: block;
      width: 51px;
      height: 6px;
      top: 50%;
      left: 50%;
      background-color: #fff;
      transform: translate(-50%, -50%) rotate(45deg); }
      .modal__close span:last-child {
        transform: translate(-50%, -50%) rotate(-45deg); }
  .modal__subtitle {
    font-family: 'Open Sans';
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: #0d0d0d; }

#thanks, .overlay {
  display: none; }
