// Main color
$defaultColor               : #ffffff;
$primaryColor               : #444ce0;
$successColor               : #26de81;
$dangerColor                : #fc5c65;
$warningColor               : #fed330;
$lightColor                 : #999999;
$purpleColor                : #8854d0;


// Neutral color
$neutralPrimary             : #303133;
$neutralRegular             : #606266;
$neutralSecondary           : #909399;
$neutralPlaceholder         : #C0C4CC;


// Border Color
$borderBase                 : #DCDFE6;
$borderLight                : #E4E7ED;
$borderLighter              : #EBEEF5;
$borderLightex              : #F2F6FC;