// Media-queries screen width
$laptopW                    :  1280px;
$smLaptopW                  :  1024px;
$tabletW                    :  768px;
$smTabletW                  :  640px;
$phoneW                     :  480px;
$smPhoneW                   :  320px;