#app {

    position: relative;

}

#window.window {

    position: absolute;
    z-index: 2;

    background-color: #ffffff;

    transition: left .3s, top .3s, border-radius .3s, box-shadow .3s;

}

#overlay.overlay {

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;

    max-width: 100vw;
    max-height: 100vh;

    background-color: #38F28C;

}