.consultation {
    min-height: 680px;
    padding: 100px 0 90px 0;
    background: url('../img/sneakers-bg.jpg') center (center/cover) no-repeat;
    &__descr {
        margin-top: 80px;
        font-size: 20px;
        font-weight: 500;
        line-height: 26px;
        text-align: left;
        color: #ffffff
    }
    .error {
        border: 1px solid red;
    }
    label.error {
        color: #fff;
        border: none;
        text-align: center;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 767px) {
    .consultation {
        padding: 70px 0;
        &__descr {
            margin-top: 50px;
        }
    }
}

@media only screen and (max-width: 575px) {
    .consultation {
        min-height: 620px;
        padding: 50px 0;
        &__descr {
            margin-top: 20px;
            font-size: 16px;
            line-height: 19px;
        }
    }
}
