.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        width: 250px;
        img {
            width: 100%;
        }
    }
    &__official {
        font-size: 12px;
        font-weight: 500;
        line-height: 24px;
        color:#ffffff;
        text-align: center;
        span {
            display: block;
            font-size: 18px;
            font-weight: 700;
            line-height: 20px;
        }
    }
    &__phone {
        margin-bottom: 8px;
        display: block;
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        color: #ffffff;
        &:hover {
            text-decoration: none;
            color: $main-color;
        }
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

@media only screen and (max-width: 991px) {
    .header {
        flex-wrap: wrap;
        &__logo {
            width: 50%;
            order: 1;
            img{
                max-width: 250px;
            }
        }
        &__official {
            margin-top: 20px;
            margin-left: auto;
            order: 3;
            text-align: right;
        }
        &__contacts {
            width: 50%;
            order: 2;
        }
    }
}

@media only screen and (max-width: 767px) {
    .header {
        &__official {
            display: none;
        }
    }
}

@media only screen and (max-width: 575px) {
    .header {
        flex-direction: column;
        &__contacts {
            align-items: center;
        }
        &__phone {
            margin-top: 15px;
            margin-bottom: 4px;
            font-size: 14px;
        }
    }
}