.about {

    padding: 125px 0 105px;

    &__body {

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 45px;

        margin-top: 70px;
        
    }

    .frame-img__img {

        margin: 0 auto;

    }

    &__header {

        margin-top: 34px;

        font-weight: 600;
        font-size: 20px;
        text-align: center;
        color: #443B38;
        line-height: 130%;

    }

    &__text {

        margin-top: 10px;

        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        text-align: center;
        color: #8D9093;

    }

}

.frame-img {

    &__img {

        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 115px;
        height: 115px;

        &_img {

            display: block;

            max-width: 90%;
            max-height: 90%;

        }

        &_back {

            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -2;

            border-radius: 100%;

            background: rgba(255, 199, 0, 0.2);
            filter: drop-shadow( 0px 5px 30px rgba(255, 199, 0, 0.4));

            &:after {

                content: '';

                position: absolute;
                top: 50%;
                left: 50%;
                z-index: -1;

                display: block;

                width: 92px;
                height: 92px;
                border-radius: 100%;

                background: radial-gradient(112.87% 112.87% at 50% 0%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%), #FFC700;
                box-shadow: 0px 5px 30px rgba(255, 199, 0, 0.4);
                transform: translate(-50%, -50%);

            }

        }

    }

}