.answers {

    padding: 84px 0 232px;

    overflow: hidden;

    .container {

        position: relative;

    }

    &__img {

        position: absolute;
        z-index: -1;

        max-width: 281px;

        &.left {

            top: 228px;
            left: -161px;

        }

        &.right {

            bottom: -71px;
            right: -219px;

            filter: drop-shadow(0px 5px 30px rgba(0, 0, 0, 0.1));

        }

    }

}

.tabs-faq {

    margin-top: 115px;

    border: 1px solid #D4D9DD;
    border-radius: 4px;

    background: #FFFFFF;

    filter: drop-shadow(0px 5px 30px rgba(0, 0, 0, 0.08));

    &__body {

        display: grid;
        grid-template-columns: 440px 700px;
        grid-template-rows: 1fr;

    }


    &__item {

        position: relative;

        padding: 30px 40px;
        border-right: 1px solid #D4D9DD;
        border-bottom: 1px solid #D4D9DD;

        background: #FAFAFA;

        font-weight: 500;
        font-size: 16px;
        color: #8D9093;
        line-height: 100%;
        list-style-type: none;   
        
        overflow: hidden;
        cursor: pointer;
        user-select: none;

        &_active {

            background: #ffffff;
            color: #443B38;

            &:before, &:after {

                content: '';

                position: absolute;
                top: 50%;
                right: 0;

                display: block;
                border-radius: 100%;

                transform: translate(50%, -50%);

            }

            &:before {

                width: 40px;
                height: 40px;
                background: rgba(255, 199, 0, .2);

            }

            &:after {

                width: 28px;
                height: 28px;
                background: rgba(255, 199, 0, 1);

            }

        }

        &:last-child {

            border-bottom: none;

        }

    }

    &__area {

        position: relative;

        display: block;

        padding: 125px 110px;


        &:before, &:after {

            content: '';

            position: absolute;

            width: 45px;
            height: 45px;
            border: 2px solid #FFC700;

        }

        &:before {

            bottom: 30px;
            left: 30px;

            border-top: unset;
            border-right: unset;

        }

        &:after {

            top: 30px;
            right: 30px;

            border-bottom: unset;
            border-left: unset;

        }

    }

    &__text {

        font-weight: 500;
        font-size: 14px;
        line-height: 180%;
        color: #8D9093;

    }

}