.header {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    padding: 21px 0;

    // tmp
    background: #3f3f3f;
    
    // background: transparent;

    @include desktop {

        padding: 15px 0;

    }

    .container {

        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__main {

        display: flex;
        align-items: center;

        .header-nav {

            &__list {

                padding-left: 45px;

                @include desktop {

                    padding-left: 25px;
                    
                }

            }

        }

    }

    &__aside {

        display: flex;
        align-items: center;

    }

    &__btn {

        margin-left: 50px;

        font-size: 16px;

        @include desktop {

            margin-left: 10px;
            padding: 10px 15px;

            font-size: 14px;

        }

    }
    
}

.logo {

    img{

        @include desktop {

            max-width: 150px;

        }

    }

}

.header-nav {

    &__list {

        display: flex;

        margin: 0;
        padding: 0;
        

    }

    &__item {

        padding: 0 17px;

        list-style-type: none;

        @include desktop {

            padding: 0 10px;
            
        }

        &:nth-child(1) {

            padding-left: 0;

        }

        &:last-child {

            padding-right: 0;

        }

    }

    &__link {

        border-bottom: 1px solid rgba(255, 255, 255, .35);
        
        font-weight: 500;
        font-size: 14px;
        text-decoration: none;
        color: #FFFFFF;
        line-height: 130%;

        @include desktop {

            font-size: 12px;

        }

        &:hover {

            border-bottom: 1px solid #fff;

            transition: border-bottom .4s ease-in-out;
            
        }

    }

}

.phone-nav {

    &__link {

        
        font-weight: bold;
        font-size: 22px;
        text-align: right;
        text-decoration: none;
        color: #fff;
        line-height: 130%;

        @include desktop {

            font-size: 20px;

        }

        &:hover {

            text-decoration: underline;

        }

    }

    &__descr {

        font-weight: 500;
        font-size: 12px;
        text-align: right;
        color: #FFFFFF;
        line-height: 130%;

    }

}