.hero {

    position: relative;

    padding: 255px 0 120px;

    background: #363636;
    background: url('../img/hero/bg.jpg') center center/cover no-repeat;

    .container {

        width: 1520px;

        @include desktop-promo {

            width: 1200px;

        }

    }

    &__body {

        padding-right: 500px;

    }

    &__btn {

        position: relative;

        display: block;

        width: 427px;
        height: 75px;
        border-radius: 10px;

        overflow: hidden;

        &_wrapper {

            position: relative;

            display: inline-block;
            
            margin-top: 75px;

            &:after {

                content: '';

                position: absolute;
                top: 45%;
                left: calc(100% - 55px);
                
                display: block;
                width: 172px;
                height: 172px;

                background: url('../img/hero/book.png') center center/cover no-repeat;

                transform: translateY(calc(-50% + 2px));

                filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.15));

                animation: pbounce 3s linear infinite;

            }

        }
        
        &:before {

            content: '';

            position: absolute;
            top: 0;
            left: 0;
            
            height: 110%;
            width: 1.5em;

            background-color: rgba(255, 255, 255, 0.6 );

            transform: translateX(-4em) skewX(-45deg);

            animation: glowline-hero 3s linear infinite;

        }

    }

    &__policy {

        margin-top: 57px;
        padding-right: 220px;

        font-style: italic;
        font-weight: 500;
        font-size: 14px;
        color: #D4D9DD;
        line-height: 150%;

    }

    &__scroll {

        position: absolute;
        bottom: 0;
        left: 50%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 71px;
        height: 71px;
        border-radius: 100%;

        background: #ffffff;
        
        transform: translate(-50%, 50%);

        img {

            display: block;

        }

        &_down {

            position: absolute;
            bottom: 4px;

        }

    }

}





.hero-adv {

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin-top: 50px;
    padding-right: 375px;

    &__item {

        position: relative;

        width: 50%;
        padding: 5px 30px 5px 63px;
        border-right: 1px solid rgba(255, 255, 255, 0.3);

        &:after {

            content: '';

            position: absolute;
            top: 0px;
            left: 0px;
            
            display: block;
            
            width: 40px;
            height: 40px;

            background: url('../img/hero/1.svg') center center/cover no-repeat;

        }

        &:nth-child(2) {

            margin-left: 36px;
            border-right: none;

            &:after {

                background: url('../img/hero/2.svg') center center/cover no-repeat;

            }

        }

    }

    &__title {

        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        color: #FFC700;
        line-height: 150%;

    }

    &__text {

        margin-top: 15px;

        font-size: 18px;
        line-height: 150%;
        color: #D4D9DD;

    }

}

@keyframes pbounce {

    0% {

        transform: translateY(calc(-50% + 2px));

    }

    25% {

        transform: translateY(calc(-50% - 2px));

    }

    75% {

        transform: translateY(calc(-50% + 6px));

    }

    100% {

        transform: translateY(calc(-50% + 2px));

    }

}