.portfolio {

    padding: 98px 0 80px;

    overflow: hidden;

    &__grid {

        display: grid;
        grid-template-columns: 660px 1fr;
        grid-column-gap: 30px;

        margin-top: 65px;

    }

    &__main {

        margin-top: 35px;

    }

    &__offer {

        position: absolute;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 328px;
        height: 328px;
        border-radius: 100%;

        background: rgba(255, 199, 0, 0.2);

        &:after {

            content: '';

            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 1;

            display: block;

            width: 276px;
            height: 276px;
            border-radius: 100%;

            background: #F3BE00;
            box-shadow: 0px 5px 30px rgba(255, 199, 0, 0.4);

            transform: translate(-50%, -50%);

        }

        &_title {

            z-index: 3;

            font-weight: 800;
            font-size: 50px;
            text-align: center;
            color: #FFFFFF;
            line-height: 1;
            text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);

            opacity: 0.9;

        }

        &_text {

            z-index: 3;

            margin-top: 25px;
            padding: 0 65px;

            font-style: normal;
            font-weight: 600;
            font-size: 13px;
            text-align: center;
            color: #FFFFFF;
            line-height: 130%;
            text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);

            opacity: 0.9;

        }

    }

    &__img {

        position: absolute;
        right: -120px;
        bottom: -80px;
        z-index: 4;

    }

}

.card {

    position: relative;

    display: flex;
    align-items: center;

    margin-bottom: 35px;

    &:last-child {

        margin-bottom: 0;

    }

    &:not(:nth-child(1)):after {

        content: '';

        position: absolute;
        top: -24px;
        left: 125px;

        display: block;

        width: 340px;
        height: 0.3px;

        background: #9B9DA0

    }

    &__img {

        width: 100px;
        height: 100px;

        &_back {

            &:after {

                width: 80px;
                height: 80px;

            }

        }

    }

    &__body {

        margin-left: 24px;

    }

    &__title {

        font-weight: 600;
        font-size: 20px;
        color: #443B38;
        line-height: 130%;

    }

    &__text {

        margin-top: 5px;

        font-weight: 500;
        font-size: 20px;
        color: #8D9093;
        line-height: 130%;

    }

}

.documents {

    display: grid;
    grid-template-columns: repeat(3, 175px);
    grid-column-gap: 60px;

    width: min-content;
    margin-top: 70px;

    &__img {

        filter: drop-shadow(0px 5px 30px rgba(0, 0, 0, 0.12));

    }

    &__title {

        margin-top: 20px;

        font-weight: 500;
        font-size: 20px;
        text-align: center;
        color: #8D9093;
        line-height: 130%;

    }

}