.footer
    padding: 143px 0 260px 0
    width: 100%
    min-height: 1420px
    background: url('../img/footer_bg.jpg') center center/cover no-repeat
    &__map
        margin-top: 131px
        margin-left: auto
        padding: 10px
        width: 1020px
        height: 720px
        border-radius: 20px
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25)
        background-color: #ffffff
    &__info
        position: absolute
        bottom: 150px
        left: 0
        padding: 50px 40px 90px 40px
        width: 431px
        height: 426px
        border-radius: 20px
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25)
        background-color: #ffffff
    &__header
        font-size: 25px
        font-weight: 600
        line-height: normal
        color: #49494b
        text-align: center
    &__links
        margin-left: 40px
        margin-top: 34px
        div
            margin-bottom: 30px
            font-size: 22px
            font-weight: normal
            line-height: normal
            color: #49494b
            &:last-child
                margin-bottom: 0
    &__phone
        position: relative
        &:before
            content: ''
            position: absolute
            display: block
            left: -56px
            top: -5px
            width: 40px
            height: 40px
            background: url('../icons/footer/smartphone.svg') center center/cover no-repeat
    &__address
        position: relative
        &:before
            content: ''
            position: absolute
            display: block
            left: -56px
            top: -5px
            width: 40px
            height: 40px
            background: url('../icons/footer/home.svg') center center/cover no-repeat
    &__mail
        position: relative
        &:before
            content: ''
            position: absolute
            display: block
            left: -56px
            top: -5px
            width: 40px
            height: 40px
            background: url('../icons/footer/mail.svg') center center/cover no-repeat

@media only screen and (max-width: 768px)
    .footer
        padding: 90px 0 140px 0
        min-height: 400px
        &__map
            display: none
        &__info
            position: static
            margin: 0 auto
            margin-top: 60px

@media only screen and (max-width: 425px)
    .footer__info
        padding: 30px 20px 40px 20px
        width: 100%