.promo
    padding-top: 80px
    padding-bottom: 130px 
    width: 100%
    min-height: 846px
    background: url('../img/main_bg.jpg') center center/cover no-repeat
    &__wrapper
        position: relative
        margin-top: 140px
        width: 520px
        z-index: 2
    &__header
        display: block
        position: relative
        margin-bottom: 0
        font-size: 45px
        font-weight: 800
        line-height: 60px
        color: #49494b
        z-index: 3
        &:before
            content: ''
            position: absolute
            top: 40px
            width: 274px
            height: 12px
            background-color: #fccd63
            z-index: -1
    &__discount
        position: relative
        margin-top: 25px
        margin-left: 60px
        font-size: 25px
        font-weight: normal
        line-height: normal
        color: #49494b
        &:before
            content: ''
            position: absolute
            top: 19px
            left: -57px
            width: 45px
            height: 3px
            background-color: #fccd63
    &__advantages
        display: flex
        justify-content: space-between
        align-items: center
        margin-top: 40px
        width: 100%
    &-advantages
        display: flex
        width: 50%
        &__img
            max-width: 63px
        &__subtitle
            margin-left: 22px
            width: 140px
            font-size: 20px
            font-weight: 600
            line-height: normal
            color: #49494b
    &__arrow
        position: absolute
        right: 0
        bottom: 13px
        max-width: 100px
    &__sofa
        position: absolute
        top: 28px
        right: -871px
        max-width: 855px

@media only screen and (max-width: 1600px)
    .promo
        &__sofa
            right: -840px

@media only screen and (max-width: 1540px)
    .promo
        &__sofa
            right: -800px

@media only screen and (max-width: 1499px)
    .promo
        &__sofa
            right: -720px
            max-width: 650px

@media only screen and (max-width: 1390px)
    .promo
        &__sofa
            right: -635px
            max-width: 644px

@media only screen and (max-width: 1199px)
    .promo
        &__sofa
            right: -500px
            max-width: 500px

@media only screen and (max-width: 768px)
    .promo
        padding-top: 70px
        padding-bottom: 100px
        min-height: 500px
        &__sofa
            display: none
        &__wrapper
            margin-top: 100px
            width: 100%

@media only screen and (max-width: 425px)
    .header
        flex-direction: column
        justify-content: flex-start
        align-items: center
        .header__info
            width: 100%  
            margin: 0
            margin-top: 10px
        .header__phone
            text-align: left
            margin-bottom: 10px
    .promo
        &__header
            font-size: 32px
            &:before
                display: none
        &__arrow
            display: none     