.result
    padding: 107px 0 100px 0
    min-height: 1253px
    &__descr
        margin-top: 55px
        font-size: 25px
        font-weight: normal
        line-height: normal
        color: #49494b
        text-align: center
    &__wrapper
        position: relative
        width: 100%
        margin-top: 135px
    &__carousel
        display: flex
        justify-content: space-between
        align-items: flex-start
        &-h
            display: none
        > div
            width: 580px
            height: 578px
            box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25)
            background-color: #ffffff
            &:nth-child(n)
                margin: 40px 35px
    &__item        
        img
            display: block
            margin: 0 auto
            margin-top: 40px
            max-width: 470px
    &__arrow
        display: block
        position: absolute
        left: 50%
        transform: translateX(-50%)
        max-width: 250px
        bottom: 50px
    
.prev__result-h
    display: none
.next__result-h
    display: none

@media only screen and (max-width: 1499px)
    .result
        &__item
            img
                max-width: 440px

@media only screen and (max-width: 1390px)
    .result
        &__wrapper
            margin-top: 80px
        &__descr
            margin-top: 130px
    .prev__result
        top: 690px
    .next__result
        top: 690px


@media only screen and (max-width: 1199px)
    .result
        &__carousel
            > div:nth-child(n)
                margin: 40px 20px


@media only screen and (max-width: 768px)
    .result
        position: relative
        padding: 80px 0 144px 0
        &__wrapper
            margin-top: 45px
        &__carousel
            display: none
            &-h
                display: block
        &__arrow
            left: 25%
            transform: translateX(-50%) rotate(90deg)
            bottom: 414px
        &__descr
            margin-top: 170px
        &:after
            content: 'Назад/Вперед'
            display: block
            position: absolute
            bottom: 342px
            left: 50%
            transform: translateX(-50%)
            font-size: 25px
            font-weight: normal
            line-height: 25px
            color: #49494b

    .prev__result
        display: none
    .next__result
        display: none
    .prev__result-h
        display: flex
        top: 1080px
    .next__result-h
        display: flex
        top: 1080px

@media only screen and (max-width: 425px)
    .result
        &__item
            img
                max-width: 350px
        &__arrow
            bottom: 273px
        .prev__result-h, .next__result-h
            top: 925px
