body
    background-color: #dfe6e9

.title
    margin: 30px 0 0 60px
    
    font-size: 60px

.form
    margin-top: 50px
    margin-left: 15px
    padding: 30px 40px

    background-color: #636e72
    
    border-radius: 5px
    &__title
        margin-bottom: 40px

        font-size: 45px
        color: #ffffff
    &__subtitle
        margin-top: 20px
        margin-bottom: 5px 

        color: #ffffff
    &__label
        font-size: 18px
        color: #ffffff

        cursor: pointer
        &_check
            display: block

            margin: 0 10px
            
            color: #ffffff

            cursor: pointer
    &__input
        width: 400px
        &_upload
            margin-bottom: 40px

            color: #ffffff
    &__wrapper
        &_check
            display: flex
            align-items: center
    &__textarea
        width: 550px

        resize: none
    &__submit
        display: block

        width: 213px

        font-size: 18px

.choice
    margin-bottom: 30px

input[type="checkbox"], input[type="radio"]
    margin: 0

    