.container
    position: relative
    margin: 0 auto
    width: 1140px

@media only screen and (max-width: 1650px)
    .container
        width: 870px

@media only screen and (max-width: 1090px)
    .container
        width: 630px

// @media only screen and (max-width: 690px)
//     .container
//         width: 420px

@media only screen and (max-width: 660px)
    .container
        margin: 0 auto
        width: 320px
        padding: 0 13px