.header {
  height: 60px;
  padding: 10px 0;
  
  background: rgb(var(--white));
  box-shadow: 0 1px 1px rgba(var(--black), 0.1);
}

.header__container {
  display: flex;
  align-items: center;

  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  padding: 0 16px;
}

.header__logo-wrapper {
  display: flex;
  justify-content: center;
  
  width: 80px;
}

.logo {
  display: block;
  width: 60px;
}

.logo__img {
  display: block;
  
  width: 60px;
  margin: 0 auto;
}