@import './header.css';
@import './utils.css';
@import './author-card.css';
@import './left-navbar.css';
@import './content-article.css';


*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: 255, 255, 255;
  --black: 0, 0, 0;
  --grey-50: 250, 250, 250;
  --grey-100: 245, 245, 245;
  --grey-200: 229, 229, 229;
  --grey-300: 212, 212, 212;
  --grey-400: 163, 163, 163;
  --grey-500: 115, 115, 115;
  --grey-600: 82, 82, 82;
  --grey-700: 64, 64, 64;
  --grey-800: 38, 38, 38;
  --grey-900: 23, 23, 23;

  --card-border: rgba(var(--grey-900), 0.1);
  --card-bg: rgb(var(--white));
  --card-color: rgb(var(--grey-900));
}

body {
  min-height: 100vh;
  
  background: rgb(var(--grey-100));
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
}

.layout-main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  gap: 16px;
  flex-grow: 1;

  max-width: 1280px;
  width: 100%;
  min-height: 1px;
  margin: 0 auto;
  padding: 16px;
}

.sidebar-left {
  flex: 0 0 80px;
}

.sidebar-right {
  flex: 0 0 330px;
}
