.causes
    padding: 100px 0 120px 0
    background: #F6F3F3
    &__wrapper
        margin-top: 80px
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        width: 100%
    &__item
        padding: 50px 5px
        width: 320px
        height: 355px
        border-radius: 5px
        border: 1px solid #ECECEC
        background: #FFFFFF
        &:nth-child(1)
            padding: 50px 40px 40px
    &__img
        display: block
        margin: 0 auto
        transform: translateX(10px)
        width: 90px
        &_left
            transform: translateX(0px)
    &__header
        margin-top: 29px
        font-size: 20px
        font-weight: bold
        line-height: normal
        text-align: center
        color: #484645
    &__descr
        margin-top: 10px
        font-size: 18px
        line-height: 22px
        text-align: center

@media only screen and (max-width: 1650px)
    .causes
        padding: 60px 0 70px 0
        &__wrapper
            margin-top: 60px
        &__item
            padding: 30px 5px
            width: 250px
            height: 280px
            &:nth-child(1)
                padding: 30px 20px 30px
        &__img
            width: 80px
        &__header
            font-size: 17px
        &__descr
            font-size: 14px
            line-height: 17px

@media only screen and (max-width: 1090px)
    .causes
        &__item
            padding: 21px 5px 30px
            width: 170px
            height: 188px
            &:nth-child(1)
                padding: 21px 20px 30px
        &__img
            width: 48px
        &__header
            margin-top: 18px
            font-size: 12px
            line-height: 15px
        &__descr
            margin-top: 8px
            font-size: 10px
            line-height: 12px
    
@media only screen and (max-width: 690px)
    .causes
        display: none