.footer
    padding: 40px 0 50px 0
    &__wrapper
        position: relative
    &__logo
        max-width: 200px
        position: absolute
        left: 0
        top: 50%
        transform: translateY(-50%)
    &__main
        display: flex
        justify-content: flex-end
        align-items: center
    &__share
        font-size: 16px
        font-weight: normal
        line-height: normal
        color: #484645
        opacity: 0.9
    &__social
        margin-left: 30px
        display: flex
        justify-content: space-between
        a
            display: block
            img
                display: block
                margin: 0 7px
                width: 30px
                height: 30px
    
    