.container_header
    display: flex
    justify-content: space-between
    align-items: center
    background-color: #fff
    height: 100px

.logo
    width: 220px

.header
    &__menu
        padding: 0
        margin: 0
        margin-left: 130px
        width: 400px
        display: flex
        justify-content: space-between
        list-style-type: none
        &-item
            display: flex
            align-items: center
    &__link
        opacity: 0.8
        font-size: 20px
        font-weight: 500
        line-height: 10px
        color: #000000
        text-decoration: none
        &:hover
            color: $main-color
    &__phone
        font-size: 20px
        font-weight: 900
        line-height: 10px
        color: #000000
        &:hover
            color: $main-color


@media only screen and (max-width: 1650px)
    .container_header
        height: 60px
    .logo
        width: 155px
    .header
        &__menu
            margin-left: 70px
            width: 330px
        &__link
            font-size: 15px
        &__phone
            font-size: 16px
    
@media only screen and (max-width: 1090px)
    .container_header
        height: 40px
    .logo
        width: auto
    .header
        &__menu
            margin-left: 120px
            width: 201px
        &__link
            font-size: 10px
        &__phone
            font-size: 10px

@media only screen and (max-width: 690px)
    .header
        &__menu
            display: none
        &__phone
            line-height: 20px