.license
    padding: 40px 0 55px 0
    background: #F6F3F3
    &__descr
       font-size: 13px
       line-height: normal
       color: #484645
       opacity: 0.9
    &__mobile
        display: none

@media only screen and (max-width: 1650px)
    .license
        padding: 28px 0 31px 0
        &__descr
            font-size: 10px

@media only screen and (max-width: 1090px)
    .license
        padding: 28px 0 31px 0
        &__descr
            font-size: 7px
            line-height: 9px

@media only screen and (max-width: 690px)
    .license
        padding: 33px 0 35px
        &__laptop
            display: none
        &__mobile
            display: block