.part
    padding: 40px 50px
    height: 165px
    &__wrapper
        position: relative
        margin: 0 auto
        padding: 0 80px
    &__img
        display: block
        // width: 200px
        width: 320px
        &_under
            display: flex
            justify-content: center
            align-items: center
            height: 80px
    &__btn
        margin: 0
        padding: 0
        position: absolute
        top: 50%
        transform: translateY(-50%)
        width: 60px
        height: 60px
        border: none
        border-radius: 100%
        background: #6EAE26
        box-shadow: 0px 1px 0px #598E1D
        img
            width: 30px
            height: 30px
        &_prev
            left: 0
            img
                margin-right: 4px
        &_next
            right: 0
            img
                margin-left: 4px

.sberbank
    // width: 160px
    width: 260px

.otkritie
    // width: 180px
    width: 248px