.footer
    padding: 12px 0 0 0
    background: #E9E9E9
    &__title
        margin-bottom: 11px
        font-weight: normal
        font-size: 20px
        line-height: 25px
        text-align: center
        color: #26180F
        text-transform: uppercase
    &__wrapper
        display: flex
        justify-content: center
        align-items: center
    &__phone
        margin-top: 20px
        font-weight: 500
        font-size: 28px
        line-height: 35px
        color: #433225
        text-align: center
    &__more
        margin-top: 20px
        padding: 30px 0 
        background: #8E7D6D
        font-weight: 500
        font-size: 20px
        line-height: 25px
        text-align: center
        color: #EEE5D7
        text-align: center
        text-transform: uppercase


@media only screen and (max-width: 1530px)
    .footer
        &__title
            font-size: 18px
            line-height: 22px
        &__phone
            margin-top: 14px
            font-size: 25px
        &__more
            margin-top: 15px
            padding: 25px
            font-size: 19px

@media only screen and (max-width: 1100px)
    .footer
        &__title
            font-size: 14px
            line-height: 18px
        &__phone
            font-size: 15px
            line-height: 14px
        &__more
            padding: 15px
            font-size: 14px

@media only screen and (max-width: 640px)
    .footer
        &__title
            font-size: 20px
            line-height: 25px
        &__phone
            font-size: 28px
            line-height: 28px
            margin-top: 19px
        &__more
            margin-top: 20px
            padding: 30px 0
            font-size: 20px

@media only screen and (max-width: 510px)
    .footer
        &__title
            margin-bottom: 10px
            font-size: 14px
            line-height: 20px
        &__phone
            margin-top: 10px
            font-size: 14px
        &__more
            margin-top: 12px
            padding: 10px 0
            font-size: 11px