* {
  font-family: 'Montserrat', sans-serif; }

.title {
  font-size: 28px;
  font-weight: 800;
  line-height: normal;
  color: #49494B;
  text-align: center;
  text-transform: uppercase; }
  .title span {
    border-bottom: 4px solid #7BB63C; }

.subtitle {
  margin-top: 25px;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  color: #484645;
  text-align: center; }

.container {
  position: relative;
  margin: 0 auto;
  width: 1140px; }

.container_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 100px; }

.logo {
  width: 220px; }

.header__menu {
  padding: 0;
  margin: 0;
  margin-left: 130px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  list-style-type: none; }
  .header__menu-item {
    display: flex;
    align-items: center; }

.header__link {
  opacity: 0.8;
  font-size: 20px;
  font-weight: 500;
  line-height: 10px;
  color: #000000;
  text-decoration: none; }
  .header__link:hover {
    color: #5da60e; }

.header__phone {
  font-size: 20px;
  font-weight: 900;
  line-height: 10px;
  color: #000000; }
  .header__phone:hover {
    color: #5da60e; }

.promo {
  padding: 155px 0 190px 0;
  padding: 180px 0 212px 0;
  width: 100%;
  min-height: 500px;
  background: url("../img/main_bg.jpg") center center/cover no-repeat; }
  .promo__header {
    margin-bottom: 0;
    font-size: 37px;
    font-weight: 900;
    line-height: 50px;
    color: #333231;
    opacity: 0.9;
    text-transform: uppercase; }
  .promo__cost {
    margin-top: 30px;
    font-size: 30px;
    font-weight: 900;
    line-height: normal;
    color: #5DA60E; }
  .promo__discount {
    margin-top: 30px;
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    color: #484645; }
  .promo__btn {
    margin: 0;
    margin-top: 40px;
    display: block;
    width: 352px;
    height: 85px;
    border: none;
    border-radius: 10px;
    border-bottom: 4px solid #598E1D;
    box-shadow: 0px 15px 30px rgba(110, 174, 38, 0.7);
    background: radial-gradient(49.14% 50% at 48.29% 0%, rgba(129, 192, 57, 0.5) 0%, rgba(255, 255, 255, 0) 100%, #6EAE26 100%), #6EAE26;
    text-shadow: 0px 1px 1px #51811B;
    font-size: 26px;
    font-weight: bold;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.8); }
  .promo__policy {
    margin-top: 42px;
    font-size: 13px;
    font-weight: 500;
    line-height: 21px;
    color: #484645; }

.part {
  padding: 40px 50px;
  height: 165px; }
  .part__wrapper {
    position: relative;
    margin: 0 auto;
    padding: 0 80px; }
  .part__img {
    display: block;
    width: 320px; }
    .part__img_under {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80px; }
  .part__btn {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 100%;
    background: #6EAE26;
    box-shadow: 0px 1px 0px #598E1D; }
    .part__btn img {
      width: 30px;
      height: 30px; }
    .part__btn_prev {
      left: 0; }
      .part__btn_prev img {
        margin-right: 4px; }
    .part__btn_next {
      right: 0; }
      .part__btn_next img {
        margin-left: 4px; }

.sberbank {
  width: 260px; }

.otkritie {
  width: 248px; }

.causes {
  padding: 100px 0 120px 0;
  background: #F6F3F3; }
  .causes__wrapper {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%; }
  .causes__item {
    padding: 50px 5px;
    width: 320px;
    height: 355px;
    border-radius: 5px;
    border: 1px solid #ECECEC;
    background: #FFFFFF; }
    .causes__item:nth-child(1) {
      padding: 50px 40px 40px; }
  .causes__img {
    display: block;
    margin: 0 auto;
    transform: translateX(10px);
    width: 90px; }
    .causes__img_left {
      transform: translateX(0px); }
  .causes__header {
    margin-top: 29px;
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    color: #484645; }
  .causes__descr {
    margin-top: 10px;
    font-size: 18px;
    line-height: 22px;
    text-align: center; }

.request {
  padding: 100px 0 120px 0; }

.license {
  padding: 40px 0 55px 0;
  background: #F6F3F3; }
  .license__descr {
    font-size: 13px;
    line-height: normal;
    color: #484645;
    opacity: 0.9; }

.footer {
  padding: 40px 0 50px 0; }
  .footer__wrapper {
    position: relative; }
  .footer__logo {
    max-width: 200px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%); }
  .footer__main {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
  .footer__share {
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
    color: #484645;
    opacity: 0.9; }
  .footer__social {
    margin-left: 30px;
    display: flex;
    justify-content: space-between; }
    .footer__social a {
      display: block; }
      .footer__social a img {
        display: block;
        margin: 0 7px;
        width: 30px;
        height: 30px; }
