* {
  font-family: 'Montserrat', sans-serif; }

.title {
  font-size: 28px;
  font-weight: 800;
  line-height: normal;
  color: #49494B;
  text-align: center;
  text-transform: uppercase; }
  .title span {
    border-bottom: 4px solid #7BB63C; }

.subtitle {
  margin-top: 25px;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  color: #484645;
  text-align: center; }

@media only screen and (max-width: 1650px) {
  .title {
    font-size: 22px; }
    .title span {
      border-bottom: 3px solid #7BB63C; }
  .subtitle {
    margin-top: 18px;
    font-size: 16px;
    line-height: 20px; } }

@media only screen and (max-width: 1090px) {
  .title {
    font-size: 16px;
    line-height: 20px; }
  .subtitle {
    font-size: 12px;
    line-height: 15px; } }

@media only screen and (max-width: 690px) {
  .title {
    font-size: 14px;
    line-height: 17px;
    text-align: left; }
  .subtitle {
    font-size: 10px;
    line-height: 12px;
    text-align: left; } }

.container {
  position: relative;
  margin: 0 auto;
  width: 1140px; }

@media only screen and (max-width: 1650px) {
  .container {
    width: 870px; } }

@media only screen and (max-width: 1090px) {
  .container {
    width: 600px; } }

@media only screen and (max-width: 690px) {
  .container {
    padding: 0 13px;
    width: 100%; } }

.container_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 100px; }

.logo {
  width: 220px; }

.header__menu {
  padding: 0;
  margin: 0;
  margin-left: 130px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  list-style-type: none; }
  .header__menu-item {
    display: flex;
    align-items: center; }

.header__link {
  opacity: 0.8;
  font-size: 20px;
  font-weight: 500;
  line-height: 10px;
  color: #000000;
  text-decoration: none; }
  .header__link:hover {
    color: #5da60e; }

.header__phone {
  font-size: 20px;
  font-weight: 900;
  line-height: 10px;
  color: #000000; }
  .header__phone:hover {
    color: #5da60e; }

@media only screen and (max-width: 1650px) {
  .container_header {
    height: 60px; }
  .logo {
    width: 155px; }
  .header__menu {
    margin-left: 70px;
    width: 330px; }
  .header__link {
    font-size: 15px; }
  .header__phone {
    font-size: 16px; } }

@media only screen and (max-width: 1090px) {
  .container_header {
    height: 40px; }
  .logo {
    width: auto; }
  .header__menu {
    margin-left: 120px;
    width: 201px; }
  .header__link {
    font-size: 10px; }
  .header__phone {
    font-size: 10px; } }

@media only screen and (max-width: 690px) {
  .header__menu {
    display: none; }
  .header__phone {
    line-height: 20px; } }

.promo {
  padding: 180px 0 212px 0;
  width: 100%;
  min-height: 500px;
  background: url("../img/main_bg.jpg") center center/cover no-repeat; }
  .promo__header {
    margin-bottom: 0;
    font-size: 37px;
    font-weight: 900;
    line-height: 50px;
    color: #333231;
    opacity: 0.9;
    text-transform: uppercase; }
  .promo__cost {
    margin-top: 30px;
    font-size: 30px;
    font-weight: 900;
    line-height: normal;
    color: #5DA60E; }
  .promo__discount {
    margin-top: 30px;
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    color: #484645; }
  .promo__btn {
    margin: 0;
    margin-top: 40px;
    display: block;
    width: 352px;
    height: 85px;
    border: none;
    border-radius: 10px;
    border-bottom: 4px solid #598E1D;
    box-shadow: 0px 15px 30px rgba(110, 174, 38, 0.7);
    background: radial-gradient(49.14% 50% at 48.29% 0%, rgba(129, 192, 57, 0.5) 0%, rgba(255, 255, 255, 0) 100%, #6EAE26 100%), #6EAE26;
    text-shadow: 0px 1px 1px #51811B;
    font-size: 26px;
    font-weight: bold;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.8); }
  .promo__policy {
    margin-top: 42px;
    font-size: 13px;
    font-weight: 500;
    line-height: 21px;
    color: #484645; }

@media only screen and (max-width: 1650px) {
  .promo {
    padding: 135px 0 170px 0; }
    .promo__header {
      font-size: 30px;
      line-height: 35px; }
    .promo__cost {
      margin-top: 22px;
      font-size: 22px; }
    .promo__discount {
      margin-top: 25px;
      font-size: 16px;
      line-height: 20px; }
    .promo__btn {
      margin-top: 30px;
      width: 280px;
      height: 75px;
      font-size: 21px; }
    .promo__policy {
      margin-top: 35px;
      font-size: 10px;
      line-height: 15px; } }

@media only screen and (max-width: 1090px) {
  .promo {
    padding: 105px 0 150px 0; }
    .promo__header {
      font-size: 20px;
      line-height: 24px; }
    .promo__cost {
      margin-top: 12px;
      font-size: 16px;
      line-height: 20px; }
    .promo__discount {
      margin-top: 12px;
      font-size: 12px;
      line-height: 15px; }
    .promo__btn {
      margin-top: 22px;
      width: 190px;
      height: 40px;
      border-radius: 5px;
      border-bottom: solid 2px #598E1D;
      font-size: 13px; }
    .promo__policy {
      margin-top: 26px;
      font-size: 7px;
      line-height: 9px; } }

@media only screen and (max-width: 690px) {
  .promo {
    padding: 40px 0 50px 0;
    background: #F4F4F4;
    min-height: auto; }
    .promo__header {
      font-size: 16px;
      line-height: 20px; }
    .promo__cost {
      margin-top: 20px;
      font-size: 14px;
      line-height: 17px; }
    .promo__discount {
      margin-top: 20px;
      font-size: 10px;
      line-height: 12px; }
    .promo__btn {
      margin-top: 21px;
      width: 181px;
      height: 40px;
      font-size: 12px; }
    .promo__policy {
      margin-top: 20px; } }

.part {
  padding: 40px 0 50px 0;
  height: 165px; }
  .part__wrapper {
    position: relative;
    margin: 0 auto;
    padding: 0 80px; }
  .part__img {
    display: block;
    width: 320px; }
    .part__img_under {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80px; }
  .part__btn {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 100%;
    background: #6EAE26;
    box-shadow: 0px 1px 0px #598E1D; }
    .part__btn img {
      width: 30px;
      height: 30px; }
    .part__btn_prev {
      left: 0; }
      .part__btn_prev img {
        margin-right: 4px; }
    .part__btn_next {
      right: 0; }
      .part__btn_next img {
        margin-left: 4px; }

.sberbank {
  width: 260px; }

.otkritie {
  width: 248px; }

@media only screen and (max-width: 1650px) {
  .sberbank {
    width: auto; }
  .otkritie {
    width: auto; }
  .part {
    height: 140px; }
    .part__wrapper {
      padding: 0 100px; }
    .part__img {
      width: auto; }
      .part__img_under {
        height: 50px; }
    .part__btn {
      width: 40px;
      height: 40px; }
      .part__btn img {
        width: 20px;
        height: 20px; }
      .part__btn_prev {
        left: 20px; }
      .part__btn_next {
        right: 20px; } }

@media only screen and (max-width: 1090px) {
  .part {
    height: 112px;
    padding: 22px 0 29px 0; }
    .part__wrapper {
      padding: 0 35px; }
    .part__btn {
      width: 25px;
      height: 25px; }
      .part__btn img {
        width: 11px;
        height: 11px; }
      .part__btn_prev {
        left: 0; }
        .part__btn_prev img {
          margin-right: 2px; }
      .part__btn_next {
        right: 0; }
        .part__btn_next img {
          margin-left: 2px; } }

@media only screen and (max-width: 690px) {
  .part {
    display: none; } }

.causes {
  padding: 100px 0 120px 0;
  background: #F6F3F3; }
  .causes__wrapper {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%; }
  .causes__item {
    padding: 50px 5px;
    width: 320px;
    height: 355px;
    border-radius: 5px;
    border: 1px solid #ECECEC;
    background: #FFFFFF; }
    .causes__item:nth-child(1) {
      padding: 50px 40px 40px; }
  .causes__img {
    display: block;
    margin: 0 auto;
    transform: translateX(10px);
    width: 90px; }
    .causes__img_left {
      transform: translateX(0px); }
  .causes__header {
    margin-top: 29px;
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    color: #484645; }
  .causes__descr {
    margin-top: 10px;
    font-size: 18px;
    line-height: 22px;
    text-align: center; }

@media only screen and (max-width: 1650px) {
  .causes {
    padding: 60px 0 70px 0; }
    .causes__wrapper {
      margin-top: 60px; }
    .causes__item {
      padding: 30px 5px;
      width: 250px;
      height: 280px; }
      .causes__item:nth-child(1) {
        padding: 30px 20px 30px; }
    .causes__img {
      width: 80px; }
    .causes__header {
      font-size: 17px; }
    .causes__descr {
      font-size: 14px;
      line-height: 17px; } }

@media only screen and (max-width: 1090px) {
  .causes__item {
    padding: 21px 5px 30px;
    width: 170px;
    height: 188px; }
    .causes__item:nth-child(1) {
      padding: 21px 20px 30px; }
  .causes__img {
    width: 48px; }
  .causes__header {
    margin-top: 18px;
    font-size: 12px;
    line-height: 15px; }
  .causes__descr {
    margin-top: 8px;
    font-size: 10px;
    line-height: 12px; } }

@media only screen and (max-width: 690px) {
  .causes {
    display: none; } }

.request {
  padding: 100px 0 120px 0; }

.chlist {
  margin-top: 80px; }
  .chlist__header {
    font-weight: bold;
    font-size: 25px;
    line-height: 26px;
    color: #49494B;
    text-transform: uppercase; }
  .chlist__options {
    margin-top: 40px;
    margin-bottom: 75px;
    display: flex;
    justify-content: space-between; }
    .chlist__options label {
      margin: 0;
      margin-bottom: 20px;
      padding: 0;
      font-weight: 300;
      font-size: 18px;
      line-height: 18px;
      color: #484645;
      opacity: 0.9; }
    .chlist__options input[type=text], .chlist__options select {
      padding: 6px 20px;
      width: 310px;
      height: 45px;
      background: #FFFFFF;
      border: 0.5px solid #D2CCCC;
      border-radius: 5px;
      font-weight: 500;
      font-size: 20px;
      line-height: 15px;
      color: #484645;
      opacity: 0.9; }
  .chlist__purpose {
    display: flex;
    flex-direction: column; }
  .chlist__cost {
    position: relative;
    display: flex;
    flex-direction: column; }
  .chlist__city {
    display: flex;
    flex-direction: column; }
  .chlist__info {
    margin-top: 40px;
    display: flex;
    justify-content: space-between; }
    .chlist__info label {
      margin: 0;
      margin-bottom: 20px;
      padding: 0;
      font-weight: 300;
      font-size: 18px;
      line-height: 18px;
      color: #484645;
      opacity: 0.9; }
    .chlist__info input {
      padding: 6px 20px;
      width: 310px;
      height: 45px;
      background: #FFFFFF;
      border: 0.5px solid #D2CCCC;
      border-radius: 5px;
      font-weight: 500;
      font-size: 20px;
      line-height: 15px;
      color: #484645;
      opacity: 0.9; }
  .chlist__name {
    display: flex;
    flex-direction: column; }
  .chlist__mail {
    display: flex;
    flex-direction: column; }
  .chlist__phone {
    display: flex;
    flex-direction: column; }
  .chlist__continue {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .chlist__policy {
    position: relative;
    padding-left: 60px;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    color: #484645;
    opacity: 0.9; }
    .chlist__policy:before {
      content: '';
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      background: url("../icons/tick.png") center center/cover no-repeat; }
  .chlist__btn {
    width: 260px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background: radial-gradient(49.14% 50% at 48.29% 0%, rgba(129, 192, 57, 0.5) 0%, rgba(255, 255, 255, 0) 100%, #6EAE26 100%), #6EAE26;
    font-weight: 500;
    font-size: 18px;
    line-height: 15px;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0px 1px 1px #51811B; }

.slider {
  position: absolute;
  bottom: 0;
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.1);
  outline: none;
  z-index: 4; }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #7BB63C;
    cursor: pointer; }
  .slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #7BB63C;
    cursor: pointer; }

#test {
  position: absolute;
  bottom: -2px;
  padding: 0 2px;
  width: 1%;
  height: 5px;
  border-radius: 2px;
  background: #7BB63C; }

@media only screen and (max-width: 1650px) {
  .request {
    padding: 50px 0 80px 0; }
  .chlist {
    margin-top: 60px; }
    .chlist__header {
      font-size: 18px; }
    .chlist__options label {
      font-size: 16px; }
    .chlist__options input[type=text], .chlist__options select {
      font-size: 17px;
      width: 270px;
      height: 40px; }
    .chlist__info label {
      font-size: 16px; }
    .chlist__info input {
      font-size: 17px;
      width: 270px;
      height: 40px; }
    .chlist__policy {
      font-size: 12px;
      line-height: 14px; }
    .chlist__btn {
      width: 240px;
      height: 46px; } }

@media only screen and (max-width: 1090px) {
  .chlist {
    margin-top: 48px; }
    .chlist__header {
      font-size: 14px; }
    .chlist__options {
      margin-top: 19px;
      margin-bottom: 52px; }
      .chlist__options label {
        margin-bottom: 11px;
        font-size: 10px; }
      .chlist__options input[type=text], .chlist__options select {
        padding: 6px 15px;
        border-radius: 3px;
        font-size: 12px;
        line-height: 12px;
        width: 180px;
        height: 30px; }
    .chlist__info label {
      margin-bottom: 11px;
      font-size: 10px; }
    .chlist__info input {
      padding: 6px 15px;
      border-radius: 3px;
      font-size: 12px;
      line-height: 12px;
      width: 180px;
      height: 30px; }
    .chlist__continue {
      margin-top: 31px; }
    .chlist__policy {
      padding-left: 37px;
      font-size: 7px;
      line-height: 9px; }
      .chlist__policy:before {
        left: 0px; }
    .chlist__btn {
      width: 142px;
      height: 30px;
      font-size: 12px; } }

@media only screen and (max-width: 690px) {
  .request {
    padding: 34px 0 37px 0; }
  .chlist {
    margin-top: 35px; }
    .chlist__header {
      font-size: 14px; }
    .chlist__options {
      margin-top: 0px;
      margin-bottom: 36px;
      flex-direction: column; }
      .chlist__options label {
        margin-top: 11px;
        margin-bottom: 11px;
        font-size: 10px; }
      .chlist__options input[type=text], .chlist__options select {
        padding: 6px 15px;
        border-radius: 3px;
        font-size: 12px;
        line-height: 12px;
        width: 180px;
        height: 30px; }
    .chlist__info {
      margin-top: 0px;
      margin-bottom: 36px;
      flex-direction: column; }
      .chlist__info label {
        margin-top: 11px;
        margin-bottom: 11px;
        font-size: 10px; }
      .chlist__info input {
        padding: 6px 15px;
        border-radius: 3px;
        font-size: 12px;
        line-height: 12px;
        width: 180px;
        height: 30px; }
    .chlist__continue {
      flex-direction: column-reverse;
      margin-top: 31px;
      justify-content: flex-start;
      align-items: flex-start; }
    .chlist__policy {
      padding-left: 37px;
      font-size: 6px;
      line-height: 7px; }
      .chlist__policy:before {
        left: 0px; }
    .chlist__btn {
      margin-bottom: 33px;
      width: 170px;
      height: 40px;
      font-size: 16px; } }

.license {
  padding: 40px 0 55px 0;
  background: #F6F3F3; }
  .license__descr {
    font-size: 13px;
    line-height: normal;
    color: #484645;
    opacity: 0.9; }
  .license__mobile {
    display: none; }

@media only screen and (max-width: 1650px) {
  .license {
    padding: 28px 0 31px 0; }
    .license__descr {
      font-size: 10px; } }

@media only screen and (max-width: 1090px) {
  .license {
    padding: 28px 0 31px 0; }
    .license__descr {
      font-size: 7px;
      line-height: 9px; } }

@media only screen and (max-width: 690px) {
  .license {
    padding: 33px 0 35px; }
    .license__laptop {
      display: none; }
    .license__mobile {
      display: block; } }

.footer {
  padding: 40px 0 50px 0; }
  .footer__wrapper {
    position: relative; }
  .footer__logo {
    max-width: 200px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%); }
  .footer__main {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
  .footer__share {
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
    color: #484645;
    opacity: 0.9; }
  .footer__social {
    margin-left: 30px;
    display: flex;
    justify-content: space-between; }
    .footer__social a {
      display: block; }
      .footer__social a img {
        display: block;
        margin: 0 7px;
        width: 30px;
        height: 30px; }

@media only screen and (max-width: 1650px) {
  .footer {
    padding: 20px 0 25px 0; }
    .footer__share {
      font-size: 12px; }
    .footer__social {
      margin-left: 20px; }
      .footer__social a img {
        width: 31px;
        height: 31px; } }

@media only screen and (max-width: 1090px) {
  .footer {
    padding: 21px 0 24px 0; }
    .footer__share {
      font-size: 7px;
      line-height: 9px; }
    .footer__social a img {
      width: 18px;
      height: 18px; } }

@media only screen and (max-width: 690px) {
  .footer {
    padding: 29px 0 37px; }
    .footer__share {
      display: none; } }
