<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garant</title>

    <link rel="stylesheet" href="./css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="./css/animate.min.css">
    <link rel="stylesheet" href="./css/normalize.min.css">
    <link rel="stylesheet" href="./css/fonts.css">
    <link rel="stylesheet" href="./css/styles.min.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <!-- Header -->
    <header id="header" class="header">
        <div class="container">

            <div class="header__main">
                <!-- Logo -->
                <div class="logo">
                    <img src="./img/logo.svg" alt="logo" class="logo__img">
                </div>
                <!-- !logo -->

                <!-- Header nav -->
                <nav class="header-nav">
                    <ul class="header-nav__list">
                        <li class="header-nav__item">
                            <a href="#slider" class="header-nav__link">Наши работы</a>
                        </li>
                        <li class="header-nav__item">
                            <a href="#cost" class="header-nav__link">Цены</a>
                        </li>
                        <li class="header-nav__item">
                            <a href="#cost" class="header-nav__link">Замер</a>
                        </li>
                        <li class="header-nav__item">
                            <a href="#footer" class="header-nav__link">Контакты</a>
                        </li>
                        <li class="header-nav__item">
                            <a href="#" class="header-nav__link">Типы</a>
                        </li>
                    </ul>
                </nav>
                <!-- !Header nav -->
            </div>

            <div class="header__aside">

                <!-- phone link section -->
                <div class="phone-nav">
                    <a href="tel:+738124242424" id="phone_link" class="phone-nav__link">+7 (3812) 424-24-24</a>
                    <div class="phone-nav__descr">Звоните с 10:00 до 20:00</div>
                </div>
                <!-- !phone link section -->

                <button class="btn header__btn" onclick="modalApp.openModal('Закажите обратный звонок', 'Заказать обратный звонок')">Перезвоните мне</button>

            </div>

        </div>
    </header>
    <!-- !Header -->

    <!-- Main -->
    <main id="main" class="main">

        <!-- Hero section -->
        <section id="hero" class="hero">
            <div class="container">

                <div class="hero__body">
                    <h1 class="title_main">Ремонт и отделка квартир<br>в Омске с гарантией 5 лет</h1>

                    <div class="hero-adv">
                        <div class="hero-adv__item">
                            <div class="hero-adv__title">Сэкономим до 23%</div>
                            <div class="hero-adv__text">Засчет наших скидок в строительных магазинах г. Омска</div>
                        </div>
                        <div class="hero-adv__item">
                            <div class="hero-adv__title">Сделаем за 30 дней</div>
                            <div class="hero-adv__text">Зафиксируем сроки окончания работ в договоре</div>
                        </div>
                    </div>

                    <div class="hero__btn_wrapper">
                        <button class="btn hero__btn" onclick="modalApp.openModal('Получите расчет стоимости', 'Получить расчет стоимости')">Получить расчет стоимости</button>
                    </div>

                    <div class="hero__policy">* - Мастер бесплатно просчитает стоимость ремонта вашей квартиры и запишет вас на замер уже сегодня</div>
                </div>

            </div>

            
            <div class="hero__scroll">
                <img src="./img/hero/scroll.svg" alt="" class="hero__scroll_up">
                <img src="./img/hero/arrow-down.svg" alt="" class="hero__scroll_down">
            </div>
        </section>
        <!-- !Hero section -->

        <!-- About section -->
        <section id="about" class="about">
            <div class="container">

                <h3 class="subtitle">У 97% заказчиков ремонт - это головная боль</h3>
                <h2 class="title_king">У наших клиентов нет трудностей</h2>

                <div class="about__body">
                    <div data-wow-offset="50" class="wow animate__animated animate__fadeInUp about__item">
                        <div class="frame-img__img">
                            <div class="frame-img__img_back"></div>
                            <img src="./img/about/1.svg" alt="1" class="frame-img__img_img">
                        </div>
                        <div class="about__header">Предупредим соседей</div>
                        <div class="about__text">
                            О предстоящем ремонте в Вашей квартире и о сроках ремонта
                        </div>
                    </div>
                    <div data-wow-offset="50" class="wow animate__animated animate__fadeInUp about__item">
                        <div class="frame-img__img">
                            <div class="frame-img__img_back"></div>
                            <img src="./img/about/2.svg" alt="2" class="frame-img__img_img">
                        </div>
                        <div class="about__header">Поможем по выбору</div>
                        <div class="about__text">
                            Материалов по соотношению цена-качество
                        </div>
                    </div>
                    <div data-wow-offset="50" class="wow animate__animated animate__fadeInUp about__item">
                        <div class="frame-img__img">
                            <div class="frame-img__img_back"></div>
                            <img src="./img/about/3.svg" alt="3" class="frame-img__img_img">
                        </div>
                        <div class="about__header">Закупим материал</div>
                        <div class="about__text">
                            Самостоятельно, а так же доставим его прямо в картиру
                        </div>
                    </div>
                    <div data-wow-offset="50" class="wow animate__animated animate__fadeInUp about__item">
                        <div class="frame-img__img">
                            <div class="frame-img__img_back"></div>
                            <img src="./img/about/4.svg" alt="" class="frame-img__img_img">
                        </div>
                        <div class="about__header">После приберемся</div>
                        <div class="about__text">
                            Уберем строительный мусор и вынесем его из квартиры
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- !About section -->

        <!-- Slider section -->
        <section id="slider" class="slider">
            <div class="container">

                <div class="title_king">С 2009 года сдали более 200 квартир с ремонтом различной сложности</div>

                <div class="slider__wrapper">
                    
                </div>

            </div>
        </section>
        <!-- !Slider section -->

        <!-- Cost section -->
        <section id="cost" class="cost">
            <div class="container">

                <h2 class="title_king">Рассчитайте точную стоимость и закрепите за собой скидку 5% на ремонт квартиры</h2>

                <div id="calculation" class="wow animate__animated animate__fadeInRight cost__body">

                    <div class="cost-form">

                        <div class="cost-form__title">Тип квартиры:</div>
                        <div class="select">
                            <input v-model="size" id="size_inp1" class="select__input" value="1" type="radio">
                            <label for="size_inp1" class="select__label">
                                <span>Студия</span>
                            </label>
                            <input v-model="size" id="size_inp2" class="select__input" value="2" type="radio">
                            <label for="size_inp2" class="select__label">
                                <span>1-ком.</span>
                            </label>
                            <input v-model="size" id="size_inp3" class="select__input" value="3" type="radio">
                            <label for="size_inp3" class="select__label">
                                <span>2-ком.</span>
                            </label>
                            <input v-model="size" id="size_inp4" class="select__input" value="4" type="radio">
                            <label for="size_inp4" class="select__label">
                                <span>3-ком.</span>
                            </label>
                        </div>

                        <div class="cost-form__title">Общая площадь:</div>

                        <div class="option">

                            <div class="option__road">
                                <span class="option__road_off"></span>
                                <span class="option__road_on"></span>
                            </div>

                            <input id="option_inp" v-model="option" class="option__input" type="range" min="10" max="150" step="1">
                            <label for="option_inp" class="option__out">{{ option }} м<sub>2</sub></label>

                        </div>


                        <div class="cost-form__item">
                            <div class="cost-form__title">Тип дома:</div>
                            <div class="cost-form__radio">

                                <input v-model="house" id="house_inp1" class="radio__input" value="1" type="radio">
                                <label for="house_inp1" class="radio">

                                    <div class="radio__box">
                                        <span></span>
                                    </div>
                                    <div class="radio__tag">Новостройка</div>

                                </label>

                                <input v-model="house" id="house_inp2" class="radio__input" value="2" type="radio">
                                <label for="house_inp2" class="radio">

                                    <div class="radio__box">
                                        <span></span>
                                    </div>
                                    <div class="radio__tag">Вторичка</div>

                                </label>

                                <input v-model="house" id="house_inp3" class="radio__input" value="3" type="radio">
                                <label for="house_inp3" class="radio">

                                    <div class="radio__box">
                                        <span></span>
                                    </div>
                                    <div class="radio__tag">Таунхаус</div>

                                </label>

                            </div>
                        </div>

                        <div class="cost-form__item">
                            <div class="cost-form__title">Санузел:</div>
                            <div class="cost-form__radio">

                                <input v-model="closet" id="closet_inp1" class="radio__input" value="1" type="radio">
                                <label for="closet_inp1" class="radio">

                                    <div class="radio__box">
                                        <span></span>
                                    </div>
                                    <div class="radio__tag">Раздельный</div>

                                </label>

                                <input v-model="closet" id="closet_inp2" class="radio__input" value="2" type="radio">
                                <label for="closet_inp2" class="radio">

                                    <div class="radio__box">
                                        <span></span>
                                    </div>
                                    <div class="radio__tag">Совместный</div>

                                </label>

                                <input v-model="closet" id="closet_inp3" class="radio__input" value="3" type="radio">
                                <label for="closet_inp3" class="radio">

                                    <div class="radio__box">
                                        <span></span>
                                    </div>
                                    <div class="radio__tag">Не нужен</div>

                                </label>

                            </div>
                        </div>

                        <div class="cost-form__item">
                            <div class="cost-form__title">Полы в квартире:</div>
                            <div class="cost-form__radio">

                                <input v-model="floor" value="1" id="floor_inp1" class="radio__input" type="radio">
                                <label for="floor_inp1" class="radio">

                                    <div class="radio__box">
                                        <span></span>
                                    </div>
                                    <div class="radio__tag">Линолеум</div>

                                </label>

                                <input v-model="floor" value="2" id="floor_inp2" class="radio__input" type="radio">
                                <label for="floor_inp2" class="radio">

                                    <div class="radio__box">
                                        <span></span>
                                    </div>
                                    <div class="radio__tag">Паркет</div>

                                </label>

                                <input v-model="floor" value="3" id="floor_inp3" class="radio__input" type="radio">
                                <label for="floor_inp3" class="radio">

                                    <div class="radio__box">
                                        <span></span>
                                    </div>
                                    <div class="radio__tag">Ламинат</div>

                                </label>

                            </div>
                        </div>

                    </div>

                    <div class="cost-sum">
                        <div class="cost-sum__title">Ориентировочная стоимость:</div>
                        <div class="cost-sum__sum">{{ sum_at }} - {{ sum_to }} <span>руб.</span></div>
                    </div>

                    <div class="cost-final">
                        <div class="cost-final__text">Оставить заявку на расчет точной стоимости и <span>получите скидку 5%</span> на ремонт квартиры</div>
                        <button type="button" class="btn cost-final__btn">Рассчитать полную стоимость</button>
                    </div>

                </div>

                
                <img src="./img/cost/bg1.png" alt="bg1" class="cost__img left">
                <img src="./img/cost/bg2.png" alt="bg2" class="cost__img right">

            </div>
        </section>
        <!-- !Cost section -->

        <!-- portfolio section -->
        <section id="portfolio" class="portfolio">
            <div class="container">

                <h2 class="title_king">Даем двойную гарантию защиты качества, все аспекты учитываем в договоре</h2>

                <div class="portfolio__grid">

                    <div class="portfolio__main">

                        <div data-wow-offset="20" class="wow animate__animated animate__fadeIn card">
                            <div class="frame-img__img card__img">
                                <span class="frame-img__img_back card__img_back"></span>
                                <img src="./img/portfolio/card1.svg" alt="1" class="frame-img__img_img card__img_img">
                            </div>

                            <div class="card__body">
                                <div class="card__title">Берем материальную ответственность за сроки</div>
                                <div class="card__text">В случае просрочки платим неустойку</div>
                            </div>
                        </div>

                        <div data-wow-offset="20" class="wow animate__animated animate__fadeIn card">
                            <div class="frame-img__img card__img">
                                <span class="frame-img__img_back card__img_back"></span>
                                <img src="./img/portfolio/card2.svg" alt="2" class="frame-img__img_img card__img_img">
                            </div>

                            <div class="card__body">
                                <div class="card__title">Исправляем бесплатно</div>
                                <div class="card__text">Любой дефект и несоответствие качеству</div>
                            </div>
                        </div>

                        <div data-wow-offset="20" class="wow animate__animated animate__fadeIn documents">
                            <div class="documents__item">
                                <img src="./img/portfolio/doc1.jpg" alt="1" class="documents__img">
                                <div class="documents__title">Сертификаты</div>
                            </div>
                            <div class="documents__item">
                                <img src="./img/portfolio/doc2.jpg" alt="2" class="documents__img">
                                <div class="documents__title">Договор</div>
                            </div>
                            <div class="documents__item">
                                <img src="./img/portfolio/doc3.jpg" alt="3" class="documents__img">
                                <div class="documents__title">Гарантия</div>
                            </div>
                        </div>

                    </div>

                    <div class="portfolio__aside">

                        <div class="portfolio__offer">
                            <div class="portfolio__offer_title">2 + 20</div>
                            <div class="portfolio__offer_text">2 года гарантии на работы + 20 лет на материалы</div>
                        </div>

                    </div>

                </div>

                <img src="./img/portfolio/man.png" alt="man" class="portfolio__img">

            </div>
        </section>
        <!-- !portfolio section -->

        <!-- sale section -->
        <section id="sale" class="sale">
            <div class="container">

                <h2 class="title_king">Фиксируем сроки и смету в договоре</h2>
                <h3 class="subtitle">Стоимость и сроки  работ не изменятся до конца вашего ремонта</h3>

                <div class="sale__grid">

                    <div class="sale-item">

                        <img src="./img/sale/1.jpg" alt="1" class="sale-item__img">
                        <div class="sale-item__overlay">
                            <div class="sale-item__title">Чистовая отделка</div>
                            <div class="sale-item__cost">
                                <span class="eyecatchy">от 3 000 руб./м2</span>
                                <span class="divider"></span>
                                <span class="eyecatchy">30-40 дней</span>
                            </div>
                            <button class="btn sale-item__btn" onclick="modalApp.openModal('Запишитесь на замер', 'Записаться на замер')">Записаться на замер</button>  
                        </div>

                    </div>

                    <div class="sale-item">

                        <img src="./img/sale/2.jpg" alt="2" class="sale-item__img">
                        <div class="sale-item__overlay">
                            <div class="sale-item__title">Косметический ремонт</div>
                            <div class="sale-item__cost">
                                <span class="eyecatchy">от 3 000 руб./м2</span>
                                <span class="divider"></span>
                                <span class="eyecatchy">30-40 дней</span>
                            </div>
                            <button class="btn sale-item__btn" onclick="modalApp.openModal('Запишитесь на замер', 'Записаться на замер')">Записаться на замер</button>   
                        </div>

                    </div>

                    <div class="sale-item">

                        <img src="./img/sale/3.jpg" alt="3" class="sale-item__img">
                        <div class="sale-item__overlay">
                            <div class="sale-item__title">Дизайнерский ремонт</div>
                            <div class="sale-item__cost">
                                <span class="eyecatchy">от 3 000 руб./м2</span>
                                <span class="divider"></span>
                                <span class="eyecatchy">30-40 дней</span>
                            </div>
                            <button class="btn sale-item__btn" onclick="modalApp.openModal('Запишитесь на замер', 'Записаться на замер')">Записаться на замер</button>
                        </div>

                    </div>

                </div>

                <img src="./img/sale/bg1.png" alt="bg1" class="sale__img left">
                <img src="./img/sale/bg2.png" alt="bg2" class="sale__img right">

            </div>
        </section>
        <!-- !sale section -->

        <!-- reaper section -->
        <section id="reaper" class="reaper">
            <div class="container">

                <h2 class="title_king">Запишитесь на бесплатный замер и получите смету с ценами уже сегодня</h2>

                <div class="reaper__body">

                <img src="./img/reaper/book.png" alt="book" data-wow-offset="20" class="wow animate__animated animate__fadeIn reaper__img">

                    <div class="reaper__info">
                        <div class="info">
                            <img src="./img/reaper/info.svg" alt="i" class="info__img">
                            <div class="info__text">Стоимость в смете фиксированная и не меняется до окончания работ</div>
                            <div class="info__mark"></div>
                            <img src="./img/reaper/arrow.svg" alt="" class="info__arrow">
                        </div>
                    </div>

                    <div class="reaper__form">

                        <div data-wow-offset="20" class="wow animate__animated animate__fadeIn reaper-form">

                            <div class="reaper-form__title">После заявки с Вами свяжется:</div>

                            <div class="people-card">

                                <div class="people-card__img"><img src="./img/reaper/people.png" alt="John"></div>
                                <div class="people-card__body">
                                    <div class="people-card__label">Старший прораб</div>
                                    <div class="people-card__title">Евгений Павлов</div>
                                </div>

                            </div>

                            <div class="reaper-form__subtitle">и согласует время приезда мастера</div>

                            <input class="reaper-form__input" name="" type="text" placeholder="+7 (000) 000 00 00">

                            <button class="btn reaper-form__btn">Записаться на замер</button>

                            <div class="reaper-form__list">
                                <div class="reaper-form__number">
                                    <span class="big">1</span>
                                    <span class="default">Свободных замеров на сегодня</span>
                                </div>
                                <div class="reaper-form__number">
                                    <span class="big">3</span>
                                    <span class="default">Свободных замеров на завтра</span>
                                </div>
                            </div>


                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- !reaper section -->

        <!-- answers section -->
        <section id="answers" class="answers">
            <div class="container">

                <h2 class="title_king">Вам будет полезно узнать</h2>
                <div class="subtitle">Ответы на часто задаваемые вопросы наших клиентов</div>


                <div id="tabs-faq" class="tabs-faq">
                    <div class="tabs-faq__body">
                        <nav class="tabs-faq__nav">
                            <ul class="tabs-faq__list">
                                <li v-on:click="switchState(0)" data-id="0" class="tabs-faq__item tabs-faq__item_active">Когда готовы приступить к работе?</li>
                                <li v-on:click="switchState(1)" data-id="1" class="tabs-faq__item">В какой срок будут выполненны работы?</li>
                                <li v-on:click="switchState(2)" data-id="2" class="tabs-faq__item">Входят ли в стоимость работ материалы?</li>
                                <li v-on:click="switchState(3)" data-id="3" class="tabs-faq__item">Кто будет ремонтировать квартиру?</li>
                                <li v-on:click="switchState(4)" data-id="4" class="tabs-faq__item">Как оплачиваются улсгуи и материалы?</li>
                                <li v-on:click="switchState(5)" data-id="5" class="tabs-faq__item">Беретесь ли вы за мелкий ремонт?</li>
                            </ul>
                        </nav>

                        <div class="tabs-faq__area">
                            <div class="tabs-faq__text">{{ assemble }}</div>
                        </div>
                    </div>
                </div>

                <img src="./img/answers/bg1.png" alt="bg1" class="answers__img left">
                <img src="./img/answers/bg2.png" alt="bg2" class="answers__img right">

            </div>
        </section>
        <!-- !answers section -->


    </main>
    <!-- !Main -->

    <footer id="footer" class="footer">
        <div class="container">
            <div class="footer__wrapper">

                <div class="footer__subtitle">Ответим на</div>
                <div class="footer__title">Любой Ваш вопрос</div>

                <div class="footer__label">Телефон:</div>
                <div class="footer__info">+7 (3812) 420-20-20</div>
                <div class="footer__label">Адрес:</div>
                <div class="footer__info">ул. Мира, д. 5, офис 512</div>
                <div class="footer__label">Электронная почта:</div>
                <div class="footer__info">Example@prostoremont.ru</div>

                <button class="btn footer__btn" onclick="modalApp.openModal('Закажите обратный звонок', 'Заказать обратный звонок')">Заказать звонок</button>

                <div class="footer__policy">
                    <img src="./img/reaper/info.svg" alt="" class="footer__policy_img">
                    <div class="footer__policy_text">Перезвоним в течении 3 минут</div>

                </div>

            </div>
        </div>
        <div class="footer__map">
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A87e0812c66d0521e8f1cd3bc6ab65341980972593f0afc72e034218fb304e55d&amp;source=constructor" width="100%" height="720" frameborder="0"></iframe>
        </div>
    </footer>



    <!-- Modal apps -->
    <div id="wide-modal" class="modal-app" style="display: none;">

        <div class="modal-app__title">{{ title }}</div>
        <div class="modal-app__subtitle">Это БЕСПЛАТНО, мастер позвонит вам уже сегодня</div>
        <input v-model="name" type="text" class="modal-app__input" placeholder="ВВЕДИТЕ ВАШЕ ИМЯ">
        <the-mask id="phone" v-model="phone" mask="+7 (###) ###-##-##" :masked="true" class="modal-app__input" placeholder="+7 (000) 000-00-00"></the-mask>
        <button class="btn modal-app__btn"  v-on:click="submitForm()" :disabled="!formIsValid">
            <span v-if="!sending">{{ tag }}</span>
            <span v-else>Отправка...</span>
        </button>

    </div>
    <!-- !Modal apps -->


    <script src="./js/jquery.min.js"></script>
    <script src="./js/vue.min.js"></script>
    <script src="./js/vue-the-mask.min.js"></script>
    <script src="./js/jquery.fancybox.min.js"></script>
    <script src="./js/axios.min.js"></script>
    <script src="./js/wow.min.js"></script>

    <script>new WOW().init();</script>

    <script src="./js/sender.js"></script>
    <script type="text/javascript" src="./js/script.js"></script>

    

    <script>

    let calcApp;
    let houseCoef;
    let closetCoef;
    let floorCoef;
    let localAt;
    let localTo;
    calcApp = new Vue({
        el: "#calculation",
        data: {
            size: '1',
            option: '60',
            house: '1',
            closet: '1',
            floor: '1',
            name: '',
            phone: '',
            sending: true,
        },
        computed: {

            sum_at: function (){

                switch (this.house) {

                    case "1":
                        houseCoef = 0.95;
                        break;
                    case "2":
                        houseCoef = 1;
                        break;
                    case "3":
                        houseCoef = 1.05;
                        break;
                }

                switch (this.closet) {
                    case "1":
                        closetCoef = 1.05;
                        break;
                    case "2":
                        closetCoef = 1;
                        break;
                    case "3":
                        closetCoef = 0.95;
                        break;
                }

                switch (this.floor) {

                    case "1":
                        floorCoef = 1;
                        break;
                    case "2":
                        floorCoef = 1.05;
                        break;
                    case "3":
                        floorCoef = 1.03;
                        break;
                }

                localAt = parseInt(this.option, 10) * 2500 * houseCoef * closetCoef * floorCoef;
                localAt = Math.round(localAt / 10);
                localAt = (localAt * 10 + '').replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ');
                return localAt;

            },

            sum_to: function (){

                switch (this.house) {

                    case "1":
                        houseCoef = 0.95;
                        break;
                    case "2":
                        houseCoef = 1;
                        break;
                    case "3":
                        houseCoef = 1.05;
                        break;
                }

                switch (this.closet) {
                    case "1":
                        closetCoef = 1.05;
                        break;
                    case "2":
                        closetCoef = 1;
                        break;
                    case "3":
                        closetCoef = 0.95;
                        break;
                }

                switch (this.floor) {

                    case "1":
                        floorCoef = 1;
                        break;
                    case "2":
                        floorCoef = 1.05;
                        break;
                    case "3":
                        floorCoef = 1.03;
                        break;
                }

                localTo = parseInt(this.option, 10) * 3500 * houseCoef * closetCoef * floorCoef;
                localTo = Math.round(localTo / 10);
                localTo = (localTo * 10 + '').replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ');
                return localTo;

            }

        },

    });

    let faqApp;

    faqApp = new Vue({
        el: '#tabs-faq',
        data: {
            tabs: [
                'Когда готовы приступить к работе?',
                'В какой срок будут выполненны работы?',
                'Входят ли в стоимость работ материалы?',
                'Кто будет ремонтировать квартиру?',
                'Как оплачиваются улсгуи и материалы?',
                'Беретесь ли вы за мелкий ремонт?'
            ],
            text: [
                'lorem1',
                'lorem2',
                'lorem3',
                'lorem4',
                'lorem5',
                'lorem6',
            ],
            assemble: 'lorem1',
        },
        methods: {
            switchState(index) {

                let itemId;
                itemId = '[data-id=' + index + ']';
                
                // console.log(itemId);
                // console.log($(itemId).attr('class'));

                $(itemId).on('click', function() {

                    if (!$(this).hasClass('tabs-faq__item_active')) {

                        $(this).addClass('tabs-faq__item_active').siblings().removeClass('tabs-faq__item_active');

                    }

                });

                this.assemble = this.text[index];

            },
        },

    });

    let modalApp;

    modalApp = new Vue ({
        el: "#wide-modal",
        data: {
            title: '',
            tag: '',
            name: '',
            phone: '',
            sending: false,
        },
        methods: {
            openModal(title, tag) {
                this.name = '';
                this.phone = '';
                this.title = title;
                this.tag = tag;
                $.fancybox.open({
                    src: '#wide-modal',
                    opts: {
                        closeExisting: true,
                        touch: false,
                    },
                });
            },
            submitForm() {
                if (this.formIsValid && !this.sending) {

                    this.sending = true;
                    let self = this;

                    let formData = {
                        title: this.tag,
                        name: this.name,
                        phone: this.phone,
                    };

                    formSender.send(formData)
                        .then(function() {
                            //
                        })
                        .catch(function () {

                        })
                        .finally(function () {
                            self.name = "";
                            self.phone = "";
                            self.sending = false;
                        });
                }
            },
        },
        computed: {
            formIsValid() {
                return (this.name.length > 1 && this.phone.length === 18);
            },
        }

    });

    </script>

</body>
</html>