.container
    position: relative
    margin: 0 auto
    width: 1160px

@media only screen and (max-width: 1530px)
    .container
        width: 960px

@media only screen and (max-width: 1100px)
    .container
        width: 600px
        
@media only screen and (max-width: 640px)
    .container
        padding: 0 15px
        width: 100%