.overlay
    display: none
    position: fixed
    width: 100%
    height: 100%
    top: 0
    background-color: rgba(0, 0, 0, .56)
    z-index: 25

.modal-thanks
    display: none
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 320px
    min-height: 100px
    background-color: #E9E9E9
    padding: 38px 40px 40px 40px
    &__subtitle 
        text-align: center
        font-size: 18px
        font-weight: 700
        color: #433225
        text-transform: uppercase

.modal-callback
    display: none
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 320px
    background-color: #E9E9E9
    padding: 22px 20px 26px
    &__title
        font-size: 20px
        line-height: 1
        color: #433225
        text-align: center
        text-transform: uppercase
    &__subtitle
        margin-top: 12px
        font-size: 17px
        line-height: 1.2
        color: #433225
        text-align: center
    &__form
        margin-top: 20px
        label
            margin: 0
            font-size: 17px
            line-height: 1
            color: #201919
        input
            padding: 3px 10px
            height: 40px
            background: #FFFFFF
            border-radius: 3px
            border: none
            font-size: 17px
            line-height: 1
            color: #201919
        > div
            margin-top: 13px
            display: flex
            justify-content: space-between
            align-items: center
    &__btn
        margin-top: 30px
        width: 100%
        height: 42px
        font-size: 15px

#modal-name
    width: 232px

#modal-phone
    width: 196px


.modal-close
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    position: absolute
    top: -20px
    right: -20px
    width: 60px
    height: 60px
    border-radius: 100%
    border: 2px solid #433225
    background: #fff
    cursor: pointer
    z-index: 26
    span
        display: block
        width: 40px
        height: 4px
        background-color: #433225
        transform: rotate(45deg) translate(1px, 1px)
        &:nth-child(2)
            transform: rotate(-45deg) translate(2px, -2px)

@media only screen and (max-width: 400px)
    .modal-thanks
        width: 250px
        &__subtitle
            font-size: 14px
    
    .modal-close
        top: -30px
        right: -10px

    