.catalog {
    padding-bottom: 100px;
    &__tabs {
        margin: 0;
        margin-top: 70px;
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__tab {
        width: 220px;
        height: 50px;
        border: solid 2px #d0d0d0;
        font-size: 18px;
        font-weight: 500;
        line-height: 50px;
        color: #6b6b6b;
        text-transform: uppercase;
        text-align: center;
        transform: skewX(-25deg);
        margin: 0 5px;
        cursor: pointer;
        transition: 0.3s all;
        div {
            transform: skewX(25deg);
        }
        &:hover {
            box-shadow: 3px 3px 20px $main-color;
            border: none;
        }
        &_active {
            color: #fff;
            background-color: $main-color;
            border: none;
        }
    }
    &__content {
        margin-top: 60px;
        display: none;
        flex-wrap: wrap;
        &_active {
            display: flex;
        }
    }
    &-item {
        margin-bottom: 20px;
        padding: 20px 20px 25px 20px;
        width: 300px;
        min-height: 440px;
        border: solid 2px #e8e8e8;
        overflow: hidden;
        &:nth-child(3n+2) {
            margin-left: 20px;
            margin-right: 20px;
        }
        &__wrapper {
            display: flex;
            width: calc(200% + 40px);
        }
        &__main-info {
            width: 50%;
            margin-right: 0;
            transform: translateX(-100%);
            transition: 0.5s all, margin-right 0s;
            &_active {
                transform: translateX(0%);
                margin-right: 20px;
            }
        }
        &__additional-info {
            position: relative;
            margin-bottom: 0;
            margin-left: 20px;
            padding-right: 20px;
            padding-left: 19px;
            width: 50%;
            transform: translateX(0%);
            list-style-type: none;
            transition: 0.3s all, margin-left 0s;
            &_active {
                transform: translateX(-100%);
                margin-left: 0;
            }
            li {
                position: relative;
                margin-bottom: 20px;
                font-size: 14px;
                font-weight: 300;
                line-height: normal;
                color: #555555;
                &:before {
                    content: '';
                    position: absolute;
                    top: 6px;
                    left: -14px;
                    width: 5px;
                    height: 5px;
                    background-color: $main-color;
                }
            }
        }
        &__back {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(calc(-50% - 10px));
            display: block;
            color: $main-color;
            font-size: 14px;
            font-weight: 500;
            text-decoration: underline;
            text-transform: uppercase;
            &:hover {
                color: $main-color;
            }
        }
        &__img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: 200px;
        }
        &__subtitle {
            margin-top: 20px;
            font-size: 16px;
            font-weight: bold;
            line-height: normal;
            text-align: center;
            color: #0d0d0d;
        }
        &__descr {
            margin-top: 16px;
            font-size: 14px;
            font-weight: 300;
            line-height: normal;
            text-align: center;
            color: #0d0d0d;
        }
        &__link {
            display: block;
            margin-top: 16px;
            font-size: 14px;
            font-weight: 500;
            line-height: normal;
            text-align: center;
            color: $main-color;
            text-decoration: underline;
            text-transform: uppercase;
            &:hover {
                color: $main-color
            }
        }
        hr {
            border-bottom: none;
            background-color: #e8e8e8;   
            margin-top: 20px;
            margin-bottom: 20px;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__old-price {
            font-size: 14px;
            font-weight: 300;
            line-height: normal;
            color: #555555;
            text-decoration: line-through;
        }
        &__price {
            margin-top: 4px;
            font-size: 20px;
            font-weight: bold;
            line-height: normal;
            color: #050505;
        }
    }
}

@media only screen and (max-width: 1199px) {
    .catalog {
        &-item {
            padding: 15px 15px 20px 15px;
            width: 280px;
        }
    }
}

@media only screen and (max-width: 991px) {
    .catalog {
        &-item {
            width: calc(50% - 10px);
            &:nth-child(3n+2) {
                margin-left: 0;
                margin-right: 0;
            }
            &:nth-child(2n) {
                margin-right: 0;
                margin-left: 20px;
            } 
        }
    }
}

@media only screen and (max-width: 767px) {
    .catalog {
        &__tab {
            font-size: 14px;
        }
        &-item {
            &__price {
                font-size: 18px;
            }
        }
    }
}

@media only screen and (max-width: 575px) {
    .catalog {
        padding-bottom: 50px;
        &__tabs {
            flex-direction: column;
            margin-top: 30px;
        }
        &__tab {
            margin-top: 10px;
            width: calc(100% - 40px);
            height: 45px;
            line-height: 45px;
            font-size: 14px;
        }
        &__content {
            margin-top: 30px;
        }
        &-item {
            width: 90%;
            margin-left: 0;
            margin: 0 auto;
            margin-bottom: 15px;
            &:nth-child(3n+2) {
                margin: 0 0;
                margin: 0 auto;
                margin-bottom: 15px;
            }
            &:nth-child(2n) {
                margin: 0 0;
                margin: 0 auto;
                margin-bottom: 15px;
            }
        }
    }
}