* {
  font-family: 'Open Sans', sans-serif; }

.title {
  margin-bottom: 0;
  font-size: 45px;
  font-weight: bold;
  line-height: normal;
  color: #49494b;
  text-align: center; }
  .title span {
    box-sizing: content-box;
    border-bottom: 4px solid #fccd63; }

.subtitle {
  margin-top: 30px;
  font-size: 25px;
  line-height: normal;
  color: #49494b;
  text-align: center; }
  .subtitle_mt36 {
    margin-top: 36px; }

.prev, .next {
  position: absolute;
  top: 50%;
  left: -185px;
  transform: translateY(-50%);
  width: 90px;
  height: 90px;
  border-radius: 100%;
  border: none;
  box-shadow: 0 4px 1px 0 #c89410;
  background-color: #fac744; }

.next {
  right: -185px;
  left: auto; }

.calculator {
  margin: 0 auto;
  margin-top: 105px;
  width: 1232px;
  min-height: 680px;
  border-radius: 20px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to top, #ffda59, #f4b12d); }

.container {
  position: relative;
  margin: 0 auto;
  width: 1247px; }

.promo {
  padding-top: 80px;
  padding-bottom: 130px;
  width: 100%;
  min-height: 846px;
  background: url("../img/main_bg.jpg") center center/cover no-repeat; }
  .promo__wrapper {
    position: relative;
    margin-top: 140px;
    width: 520px;
    z-index: 1; }
  .promo__header {
    display: block;
    position: relative;
    margin-bottom: 0;
    font-size: 45px;
    font-weight: 800;
    line-height: 60px;
    color: #49494b;
    z-index: 2; }
    .promo__header:before {
      content: '';
      position: absolute;
      top: 40px;
      width: 274px;
      height: 12px;
      background-color: #fccd63;
      z-index: -1; }
  .promo__discount {
    position: relative;
    margin-top: 25px;
    margin-left: 60px;
    font-size: 25px;
    font-weight: normal;
    line-height: normal;
    color: #49494b; }
    .promo__discount:before {
      content: '';
      position: absolute;
      top: 19px;
      left: -57px;
      width: 45px;
      height: 3px;
      background-color: #fccd63; }
  .promo__advantages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    width: 100%; }
  .promo-advantages {
    display: flex;
    width: 50%; }
    .promo-advantages__img {
      max-width: 63px; }
    .promo-advantages__subtitle {
      margin-left: 22px;
      width: 140px;
      font-size: 20px;
      font-weight: 600;
      line-height: normal;
      color: #49494b; }
  .promo__arrow {
    position: absolute;
    right: 0;
    bottom: 13px;
    max-width: 100px; }
  .promo__sofa {
    position: absolute;
    top: 28px;
    right: -871px;
    max-width: 855px; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }
  .header__logo {
    max-width: 52px; }
  .header__info {
    margin-left: 420px; }
  .header__phone {
    display: block;
    font-size: 25px;
    font-weight: 800;
    line-height: normal;
    color: #423c3d;
    text-align: right; }
    .header__phone:hover {
      text-decoration: none;
      color: #423c3d; }
  .header__descr {
    font-size: 20px;
    font-weight: normal;
    line-height: normal;
    color: rgba(66, 60, 61, 0.7); }

.button {
  width: 261px;
  height: 50px;
  border-radius: 50px;
  border: none;
  box-shadow: 0 6px 1px 0 #d89f29;
  background-image: linear-gradient(to top, #ffdb5a, #ffb629);
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  color: rgba(73, 73, 75, 0.8);
  text-shadow: 1px 1px 2px rgba(73, 73, 75, 0.65); }
  .button_ml46 {
    margin-left: 46px; }
  .button_mini {
    padding-left: 35px;
    position: relative; }
    .button_mini:before {
      content: '';
      position: absolute;
      left: 35px;
      display: block;
      width: 20px;
      height: 20px;
      background: url("../icons/promo/phone.svg") center center/cover no-repeat; }
  .button_main {
    width: 389px;
    height: 81px;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #49494b; }
  .button_mt63 {
    margin-top: 63px; }
  .button_form {
    margin: 0 auto;
    width: 100%;
    height: 81px;
    font-size: 30px;
    line-height: 30px;
    color: #49494b; }

.cost {
  width: 100%;
  min-height: 866px;
  padding: 111px 0 160px 0; }
  .cost__wrapper {
    position: relative;
    width: 100%;
    margin-top: 69px; }
  .cost__carousel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    .cost__carousel div {
      width: 350px;
      height: 400px;
      border-radius: 20px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      background-image: linear-gradient(to top, #ffda59, #f4b12d); }

.discount {
  padding: 130px 0 125px 0;
  width: 100%;
  min-height: 1313px;
  background: url("../img/discount_bg.jpg"); }
  .discount__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%; }
  .discount__book-img {
    position: absolute;
    max-width: 807px;
    top: 0;
    left: -190px; }
  .discount__charter {
    display: flex;
    align-items: flex-end;
    margin-top: 730px;
    width: 608px; }
  .discount__letter-img {
    max-width: 200px; }
  .discount__descr {
    margin-bottom: 50px;
    margin-left: 36px;
    font-size: 25px;
    font-weight: 600;
    line-height: normal;
    color: #49494b; }

.modal-form {
  padding: 50px 60px;
  width: 508px;
  min-height: 665px;
  border-radius: 20px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.05);
  border: 5px dashed #fccd63;
  background-color: #ffffff; }
  .modal-form__title {
    font-size: 35px;
    font-weight: bold;
    line-height: normal;
    color: #49494b;
    text-align: center; }
  .modal-form__subtitle {
    margin-top: 12px;
    font-size: 25px;
    font-weight: normal;
    line-height: normal;
    color: #49494b;
    text-align: center; }
  .modal-form__form {
    margin-top: 50px;
    width: 100%; }
    .modal-form__form input {
      margin-bottom: 30px;
      padding: 20px 0 19px 58px;
      width: 100%;
      height: 73px;
      border: none;
      border-radius: 50px;
      box-shadow: inset 0 3px 5px 0 rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
      font-size: 25px;
      font-weight: normal;
      line-height: normal;
      color: rgba(73, 73, 75, 0.7); }
  .modal-form__descr {
    margin-top: 50px;
    font-size: 20px;
    font-weight: normal;
    line-height: normal;
    color: #49494b;
    text-align: center; }
  .modal-form__social {
    display: flex;
    justify-content: space-between;
    margin-top: 34px;
    width: 100%; }
    .modal-form__social a {
      display: block; }
      .modal-form__social a img {
        width: 70px;
        height: 70px; }
  .modal-form .error {
    border: 1px solid red; }
  .modal-form label.error {
    display: block;
    border: none;
    transform: translateY(-10px);
    text-align: center;
    margin-bottom: 5px; }

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.56);
  z-index: 5; }

.modal-form_overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  border: 5px solid #fccd63; }

.modal-form__close {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -28px;
  right: -34px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #e3e3e3;
  cursor: pointer; }
  .modal-form__close span {
    display: block;
    width: 50px;
    height: 2px;
    background-color: #000000;
    transform: rotate(45deg); }
    .modal-form__close span:nth-child(2) {
      transform: translateY(-2px) rotate(-45deg); }

#callback-form {
  display: none; }

.result {
  padding: 127px 0 120px 0;
  max-height: 1253px; }
  .result__descr {
    margin-top: 95px;
    font-size: 25px;
    font-weight: normal;
    line-height: normal;
    color: #49494b;
    text-align: center; }
  .result__wrapper {
    position: relative;
    width: 100%;
    margin-top: 135px; }
  .result__carousel {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    .result__carousel div {
      width: 580px;
      height: 578px;
      box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
      background-color: #ffffff; }

.calculate {
  padding: 105px 0 180px 0;
  width: 100%;
  height: 1200px;
  background: url("../img/calculate_bg.jpg") center center/cover no-repeat; }

.feedback {
  padding: 120px 0 165px 0;
  width: 100%;
  min-height: 1050px; }
  .feedback__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    width: 1237px; }
  .feedback__img {
    max-width: 361px; }

.footer {
  padding: 143px 0 260px 0;
  width: 100%;
  min-height: 1420px;
  background: url("../img/footer_bg.jpg") center center/cover no-repeat; }
  .footer__map {
    margin-top: 131px;
    margin-left: auto;
    padding: 10px;
    width: 1020px;
    height: 720px;
    border-radius: 20px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
    background-color: #ffffff; }
  .footer__info {
    position: absolute;
    bottom: 150px;
    left: 0;
    padding: 50px 40px 90px 40px;
    width: 431px;
    height: 426px;
    border-radius: 20px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
    background-color: #ffffff; }
  .footer__header {
    font-size: 25px;
    font-weight: 600;
    line-height: normal;
    color: #49494b;
    text-align: center; }
  .footer__links {
    margin-left: 40px;
    margin-top: 34px; }
    .footer__links div {
      margin-bottom: 30px;
      font-size: 22px;
      font-weight: normal;
      line-height: normal;
      color: #49494b; }
      .footer__links div:last-child {
        margin-bottom: 0; }
  .footer__phone {
    position: relative; }
    .footer__phone:before {
      content: '';
      position: absolute;
      display: block;
      left: -56px;
      top: -5px;
      width: 40px;
      height: 40px;
      background: url("../icons/footer/smartphone.svg") center center/cover no-repeat; }
  .footer__address {
    position: relative; }
    .footer__address:before {
      content: '';
      position: absolute;
      display: block;
      left: -56px;
      top: -5px;
      width: 40px;
      height: 40px;
      background: url("../icons/footer/home.svg") center center/cover no-repeat; }
  .footer__mail {
    position: relative; }
    .footer__mail:before {
      content: '';
      position: absolute;
      display: block;
      left: -56px;
      top: -5px;
      width: 40px;
      height: 40px;
      background: url("../icons/footer/mail.svg") center center/cover no-repeat; }
