* {
  font-family: 'Montserrat', sans-serif; }

.container {
  position: relative;
  margin: 0 auto;
  width: 1200px;
  z-index: 3; }

.btn {
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 1px 0 #a88627;
  background-image: linear-gradient(to top, #ffc831, #ffd700);
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #404040; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px; }
  .header__logo {
    margin-right: 45px; }
    .header__logo img {
      max-width: 204px; }
  .header__descr {
    width: calc(100% - 249px - 321px);
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #292524; }
  .header__phone {
    display: block;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #292524;
    text-align: right; }
  .header__free {
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #292524;
    text-align: right; }

@media only screen and (max-width: 1500px) {
  .header__btn {
    font-size: 20px; } }

.promo {
  position: relative;
  padding: 60px 0 140px 0;
  background: url("../img/bg.png") center center/cover no-repeat; }
  .promo a:hover {
    text-decoration: none; }
  .promo__header {
    margin-top: 120px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    color: #292524; }
  .promo__descr {
    margin-top: 40px;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #1C1E21; }
  .promo__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 51px;
    width: 100%; }
  .promo__item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 23px 26px 28px 26px;
    width: 360px;
    height: 168px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background: #FFFFFF; }
    .promo__item-img {
      display: block;
      max-width: 135px;
      width: 125px; }
    .promo__item-header {
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      color: #1C1E21; }
    .promo__item-descr {
      margin-top: 20px;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: #1C1E21; }
  .promo__btn {
    display: block;
    margin-top: 68px;
    width: 655px;
    height: 130px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 2px #CF7511;
    background: linear-gradient(180deg, #FEBF31 0%, #FE831D 100%);
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-shadow: 0px 4px 2px #CF7511;
    color: #FFFFFF; }
  .promo__policy {
    margin-top: 48px;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #1C1E21; }

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.56);
  z-index: 25; }

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  min-height: 100px;
  padding: 38px 40px 40px 40px;
  border-radius: 30px;
  border: 5px solid #B1CC19;
  background-color: #ffffff;
  z-index: 30; }
  .modal__close {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background-color: #9B9B9B;
    cursor: pointer; }
    .modal__close span {
      position: absolute;
      display: block;
      width: 51px;
      height: 6px;
      top: 50%;
      left: 50%;
      background-color: #fff;
      transform: translate(-50%, -50%) rotate(45deg); }
      .modal__close span:last-child {
        transform: translate(-50%, -50%) rotate(-45deg); }
  .modal__subtitle {
    font-family: 'Open Sans';
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: #0d0d0d; }

#thanks, .overlay {
  display: none; }
