.button {
    display: block;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: $main-color;
    border: none;
    font-size: 12px;
    line-height: 5px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    transition: 0.5s all;
    &:focus{
        outline-color: #000;
    }
    &:hover {
        color: $main-color;
        background-color: #fff;
        // background-color: #FF7F7F;
        box-shadow: 3px 3px 40px $main-color;
    }
    &_main {
        margin-top: 67px;
        width: 300px;
        height: 50px;
        font-size: 16px;
    }
    &_submit {
        width: 100%;
        height: 55px;
        font-size: 16px;
    }
    &_mini {
        width: 131px;
        height: 40px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 767px) {
    .button {
        &_mini {
            width: 85px;
            height: 30px;
        }
    }
}

@media only screen and (max-width: 575px) {
    .button {
        &_main {
            width: 100%
        }
    }
}

@media only screen and (max-width: 575px) {
    .button {
        &_mini {
            width: 100px;
            height: 35px;
        }
    }
}