.btn
    border: none
    border-bottom: 5px solid #598e1d
    border-radius: 50px
    box-shadow: 0 10px 10px 0 rgba(110,174,38, .3)
    background-image: radial-gradient(circle at 0 0, rgba(129, 192, 57, 0.5), rgba(255, 255, 255, 0), #6eae26), linear-gradient(to bottom, #6eae26, #6eae26)
    text-shadow: 0 1px 1px #51811b
    font-size: 24px
    font-weight: bold
    line-height: normal
    color: #ffffff
