.button
    width: 261px
    height: 50px
    border-radius: 50px
    border: none
    box-shadow: 0 6px 1px 0 #d89f29
    background-image: linear-gradient(to top, #ffdb5a, #ffb629)
    font-size: 18px
    font-weight: bold
    line-height: 18px
    color: rgba(73, 73, 75, 0.8)
    text-shadow: 1px 1px 2px rgba(73, 73, 75, 0.65)
    &_ml46
        margin-left: 46px
    &_mini
        padding-left: 35px
        position: relative
        &:before
            content: ''
            position: absolute
            left: 35px
            display: block
            width: 20px
            height: 20px
            background: url('../icons/promo/phone.svg') center center/cover no-repeat
    &_main
        width: 389px
        height: 81px
        font-size: 20px
        font-weight: bold
        line-height: 20px
        color: #49494b
    &_mt63
        margin-top: 63px
    &_form
        margin: 0 auto
        width: 100%
        height: 81px
        font-size: 30px
        line-height: 30px
        color: #49494b
    &_calculator
        padding-right: 20px
        position: absolute
        width: 389px
        height: 81px
        right: 230px
        bottom: 50px
        font-size: 30px
        line-height: 20px
        &:before
            content: ''
            position: absolute
            top: 33px
            right: 65px
            display: block
            width: 20px
            height: 20px
            background: url('../icons/result/arrow.svg') center center/cover no-repeat

@media only screen and (max-width: 1499px)
    .button
        &_calculator
            right: 239px

@media only screen and (max-width: 1199px)
    .button
        &_mini
            margin-right: 10px
        &_calculator
            right: 120px

@media only screen and (max-width: 768px)
    .button
        &_mini
            display: none
        &_calculator
            width: 330px
            height: 70px
            left: 50%
            transform: translate(-50%, 0)
            font-size: 24px
            &:before
                top: 28px
                right: 57px

@media only screen and (max-width: 425px)
    .button
        &_main
            width: 100%