.calculate
    padding: 105px 0 180px 0
    width: 100%
    min-height: 1200px
    background: url('../img/calculate_bg.jpg') center center/cover no-repeat

.calculator_mt105
    margin: 0 auto
    margin-top: 105px

.calculator
    position: relative
    display: flex
    justify-content: center
    align-items: center
    position: relative
    width: 1230px
    height: 680px
    border-radius: 20px
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25)
    background-color: #ffffff
    overflow: hidden
    &_yellow
        position: absolute
        left: 0
        width: 360px
        height: 100%
        background-color: #ffd347
        z-index: 1
    &__wrapper
        position: relative
        display: flex
        justify-content: space-between
        width: 1210px
        height: 660px
        border-radius: 20px
        border: solid 1px #ebebeb
        background-color: rgba(196, 196, 196, 0)
        z-index: 2
    &__discount
        position: relative
        padding: 60px 0 0 45px
        width: 350px
        height: 100%
        overflow: hidden
    &__descr
        width: 300px
        font-size: 25px
        font-weight: bold
        line-height: normal
        color: rgba(255, 255, 255, 0.9)
    &__number
        margin-top: 35px
        font-size: 80px
        font-weight: 800
        line-height: 80px
        color: rgba(255, 255, 255, 0.9)
    &__img
        display: block
        position: absolute
        max-width: 684px
        right: 58px
        bottom: -40px
    &__main
        position: relative
        width: calc(100% - 350px)
        padding: 50px 70px    
    &__progress-wrapper
        margin-bottom: 39px
        position: relative
        width: 100%
        height: 50px
        border-radius: 50px
        box-shadow: inset 0 4px 50px 0 rgba(217, 217, 217, 0.25)
        background-color: #f6f6f6
    &__progress
        width: 25%
        height: 50px
        border-radius: 50px
        background-color: #ffd347
        transition: 0.5s all
    &__progress-label
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        font-size: 20px
        font-weight: normal
        line-height: 20px
        color: #7b7b7c
    &__subheader
        text-align: center
    
.modal-item-block
    position: absolute
    top: 138px
    left: 70px
    width: 720px

.calculator 
    &__header
        margin-bottom: 30px
        font-size: 30px
        font-weight: 600
        line-height: normal
        color: rgba(73, 73, 75, 0.75)
        text-align: center
    &__blocks
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        align-content: space-between
        width: 100%
        height: 265px
    &__block
        display: flex
        justify-content: space-between
        align-items: center
        padding: 0 20px 0 40px
        width: 330px
        height: 110px
        border-radius: 10px
        box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.25)
        background-color: #ffffff
        cursor: pointer
        &-header
            width: 130px
            font-size: 20px
            font-weight: 600
            line-height: normal
            color: rgba(73, 73, 75, 0.75)
        &-img
            max-width: 140px
            margin: 0 auto

.active
    background-color: #ffd33c

.modal-sizes__form
    margin: 0 auto
    margin-top: 30px
    width: 389px

.date__descr
    margin-top: 40px
    font-style: normal
    font-weight: normal
    font-size: 15px
    line-height: 20px
    text-align: center
    color: #49494B

#modal-sizes, #modal-calendar, #modal-date, #modal-calendar-button, #calculator-modal
    display: none

#sizes, #calendar, #date, #calendar-button
    display: none


@media only screen and (max-width: 1499px)
    .calculator
        width: 100%
        &_yellow
            width: 340px
        &__discount
            padding-left: 35px
            width: 340px
        &__main
            width: calc(100% - 340px)
            padding: 50px 40px
    .modal-item-block
        padding: 0 40px
        left: 50px
        width: 788px

@media only screen and (max-width: 1199px)
    .modal-item
        &-block
            width: 540px
    .calculator
        &__block
            width: 250px


@media only screen and (max-width: 768px)
    .calculate
        padding: 90px 0 100px 0
    .calculator
        height: 950px
        &_yellow
            display: none
        &_mt105
            margin-top: 33px
        &__discount
            display: none
        &__wrapper
            width: 100%
            height: 100%
            border: none
        &__main
            padding-left: 50px
            padding-right: 50px
            width: 100%
        &__block
            margin: 10px 0
            width: 100%
    .modal-item-block
        width: calc(100% - 100px)
    .modal-sizes__form
        width: 100%
