.computation
    padding: 70px 0 125px 0
    background: url(../img/second_bg.jpg) center center/cover no-repeat

.clc
    margin-top: 110px
    padding: 80px 96px 60px 90px
    width: 100%
    min-height: 600px
    border-radius: 20px
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25)
    background-color: #ffffff
    &-form
        display: flex
        flex-wrap: wrap
        &__select
            width: 100%
        &__documents
            width: 100%
        &__quantity
            width: 100%
        &__type
            width: 60%
        &__submit
            width: 40%
        &__title
            font-size: 25px
            font-weight: 500
            line-height: normal
            color: #49494b
        &__select-wrapper
            margin-top: 25px
            margin-bottom: 65px
            display: flex
            justify-content: space-between
            div
                display: flex
                justify-content: space-between
                align-items: center
                input
                    display: none
                    &:checked+label
                        border: 3px solid $main-color
                        &:before
                            content: ''
                            position: relative
                            display: block
                            width: 20px
                            height: 20px
                            border-radius: 100%
                            top: 50%
                            left: 50%
                            transform: translate(-50%, -50%)
                            background-color: $main-color
                label:not(.clc-form__select-wrapper__radio)
                    display: block
                    margin-bottom: 0
                    padding-left: 20px
                    font-size: 25px
                    font-weight: 500
                    line-height: normal
                    color: #ababb1
                    span.mobile
                        display: none
            &__radio
                display: block
                margin-bottom: 0
                width: 36px
                height: 36px
                border-radius: 100%
                border: solid 1px #9b9b9b
                background-color: #f5f6f8
        &__documents-wrapper
            position: relative
            margin-top: 25px
            margin-bottom: 65px
            display: flex
            justify-content: space-between
            z-index: 1
            div:not(.clc-form__documents-wrapper__progress)
                display: flex
                flex-direction: column-reverse
                justify-content: space-between
                align-items: center
                input
                    display: none
                    &:checked+label
                        border: 5px solid $main-color
                        &:before
                            content: ''
                            position: relative
                            display: block
                            width: 17px
                            height: 17px
                            border-radius: 100%
                            top: 50%
                            left: 50%
                            transform: translate(-50%, -50%)
                            background-color: $main-color
                            transition: 0.2 all
                label:not(.clc-form__documents-wrapper__radio)
                    display: block
                    margin-bottom: 0
                    padding-bottom: 20px
                    font-size: 25px
                    font-weight: 500
                    line-height: normal
                    color: #ababb1
            &__radio
                display: block
                margin-bottom: 0
                width: 36px
                height: 36px
                border-radius: 100%
                // border: solid 1px #9b9b9b
                background-color: #f5f6f8
                transition: 0.1s all
            &__progress
                position: absolute
                top: 63px
                left: 3px
                width: calc(100% - 30px)
                height: 14px
                background-color: #f5f6f8
                z-index: -1
                &__green
                    display: block
                    width: 0%
                    height: 100%
                    border-radius: 14px
                    background-color: $main-color 
                    transition: 0.1s all
        &__quantity-wrapper
            position: relative
            margin-top: 25px
            margin-bottom: 65px
            display: flex
            justify-content: space-between
            z-index: 1
            div:not(.clc-form__quantity-wrapper__progress)
                display: flex
                flex-direction: column-reverse
                justify-content: space-between
                align-items: center
                input
                    display: none
                    &:checked+label
                        border: 5px solid $main-color
                        &:before
                            content: ''
                            position: relative
                            display: block
                            width: 17px
                            height: 17px
                            border-radius: 100%
                            top: 50%
                            left: 50%
                            transform: translate(-50%, -50%)
                            background-color: $main-color
                            
                label:not(.clc-form__quantity-wrapper__radio)
                    display: block
                    margin-bottom: 0
                    padding-bottom: 20px
                    font-size: 25px
                    font-weight: 500
                    line-height: normal
                    color: #ababb1
            &__radio
                display: block
                margin-bottom: 0
                width: 36px
                height: 36px
                border-radius: 100%
                // border: solid 1px #9b9b9b
                background-color: #f5f6f8
                transition: 0.1s all
            &__progress
                position: absolute
                top: 63px
                left: 3px
                width: calc(100% - 30px)
                height: 14px
                background-color: #f5f6f8
                z-index: -1
                &__green
                    display: block
                    width: 0%
                    height: 100%
                    border-radius: 14px
                    background-color: $main-color 
                    transition: 0.1s all
        &__type-wrapper
            width: 100%
            display: flex
            flex-wrap: wrap
            justify-content: space-between
            margin-top: 25px
            div
                display: flex
                align-items: center
                width: 270px
                padding: 10px 0 10px 0
                input
                    display: none
                    &:checked+label
                        border: 3px solid $main-color
                        &:before
                            content: ''
                            position: relative
                            display: block
                            width: 20px
                            height: 20px
                            border-radius: 100%
                            top: 50%
                            left: 50%
                            transform: translate(-50%, -50%)
                            background-color: $main-color
                label:not(.clc-form__type-wrapper__radio)
                    display: block
                    margin-bottom: 0
                    padding-left: 20px
                    font-size: 25px
                    font-weight: 500
                    line-height: normal
                    color: #ababb1
            &__radio
                display: block
                margin-bottom: 0
                width: 36px
                height: 36px
                border-radius: 100%
                border: solid 1px #9b9b9b
                background-color: #f5f6f8
        &__submit
            margin-top: 61px
            display: flex
            flex-direction: column
            align-items: center
        &__btn
            width: 100%
            height: 89px
        &__policy
            margin-top: 25px
            padding: 0 30px
            font-size: 7px
            font-weight: 500
            line-height: normal
            color: #484645


@media only screen and (max-width: 1199px)
    .clc
        padding: 65px
        &-form
            &__select-wrapper
                div
                    label:not(.clc-form__select-wrapper__radio)
                        font-size: 20px
            &__type-wrapper
                div
                    width: 50%
                    label:not(.clc-form__type-wrapper__radio)
                        font-size: 20px
            &__submit
                margin-top: 53px
            &__btn
                height: 78px
                font-size: 20px

@media only screen and (max-width: 991px)
    .clc
        &-form
            &__select-wrapper
                div
                    width: calc(50% - 5px)
                    flex-direction: column-reverse
                    justify-content: flex-start
                    label:not(.clc-form__select-wrapper__radio)
                        text-align: center
                        padding: 0
                        padding-bottom: 26px
                    &:last-child
                        label:not(.clc-form__select-wrapper__radio)
                            padding-bottom: 15px
            &__documents-wrapper
                div:not(.clc-form__documents-wrapper__progress)
                    label:not(.clc-form__documents-wrapper__radio)
                        font-size: 20px
                &__progress
                    top: 57px
            &__quantity-wrapper
                div:not(.clc-form__quantity-wrapper__progress)
                    label:not(.clc-form__quantity-wrapper__radio)
                        font-size: 20px
                &__progress
                    top: 57px
            &__type
                width: 50%
            &__type-wrapper
                width: 100%
                div
                    width: 100%
            &__submit
                margin-top: 100px
                width: 50%

@media only screen and (max-width: 767px)
    .computation
        padding: 70px 0 118px 0
        background: url('../img/mobile_bg.jpg') center center/cover no-repeat
    .clc
        margin-top: 50px
        padding: 49px 18px 59px 41px
        &-form
            &__title
                font-size: 23px
                font-weight: 500
                line-height: normal
                color: #49494b
                span.laptop
                    display: none
            &__select-wrapper
                flex-wrap: wrap
                margin-top: 36px
                margin-bottom: 22px
                div
                    margin-bottom: 36px
                    width: calc(50% - 5px)
                    flex-direction: row
                    justify-content: flex-start
                    label:not(.clc-form__select-wrapper__radio)
                        text-align: center
                        padding: 0
                        padding-left: 23px
                        font-size: 25px
                        span.laptop
                            display: none
                        span.mobile
                            display: inline
                    &:last-child
                        label:not(.clc-form__select-wrapper__radio)
                            padding-bottom: 0
            &__documents-wrapper
                div:not(.clc-form__documents-wrapper__progress)
                    label:not(.clc-form__documents-wrapper__radio)
                        font-size: 25px
                &__progress
                    top: 61px
            &__quantity-wrapper
                div:not(.clc-form__quantity-wrapper__progress)
                    label:not(.clc-form__quantity-wrapper__radio)
                        font-size: 25px
                &__progress
                    top: 62px
            &__type
                width: 100%
            &__type-wrapper
                div
                    label:not(.clc-form__type-wrapper__radio)
                        font-size: 25px
            &__submit
                margin-top: 67px
                width: 100%
            &__btn
                height: 115px
                font-size: 30px
            &__policy
                margin-top: 37px
                padding: 0 82px 0 61px

@media only screen and (max-width: 575px)
    .computation
        padding: 45px 0 55px 0
    .clc
        margin-top: 50px
        padding: 20px
        &-form
            &__title
                font-size: 14px
                font-weight: 500
                line-height: normal
                color: #49494b
                span.laptop
                    display: none
            &__select-wrapper
                flex-wrap: wrap
                margin-top: 10px
                margin-bottom: 0
                div
                    margin-bottom: 20px
                    width: calc(50% - 5px)
                    flex-direction: row
                    justify-content: flex-start
                    input
                        &:checked+label
                            border: 2px solid #7bb63c
                            &:before
                                width: 13px
                                height: 13px
                    label:not(.clc-form__select-wrapper__radio)
                        text-align: center
                        padding: 0
                        padding-left: 11px
                        font-size: 13px
                        span.laptop
                            display: none
                        span.mobile
                            display: inline
                    &:last-child
                        label:not(.clc-form__select-wrapper__radio)
                            padding-bottom: 0
                &__radio
                    width: 20px
                    height: 20px
            &__documents-wrapper
                margin-top: 10px
                margin-bottom: 25px
                div:not(.clc-form__documents-wrapper__progress)
                    input
                        &:checked+label
                            border: 2px solid #7bb63c
                            &:before
                                width: 13px
                                height: 13px
                    label:not(.clc-form__documents-wrapper__radio)
                        padding-bottom: 9px
                        font-size: 13px
                &__radio
                    width: 20px
                    height: 20px
                &__progress
                    left: 5px
                    top: 30px
                    height: 10px
            &__quantity-wrapper
                margin-top: 10px
                margin-bottom: 25px
                div:not(.clc-form__quantity-wrapper__progress)
                    input
                        &:checked+label
                            border: 2px solid #7bb63c
                            &:before
                                width: 13px
                                height: 13px
                    label:not(.clc-form__quantity-wrapper__radio)
                        padding-bottom: 9px
                        font-size: 13px
                &__radio
                    width: 20px
                    height: 20px
                &__progress
                    left: 5px
                    top: 30px
                    height: 10px
            &__type
                width: 100%
            &__type-wrapper
                margin-top: 0
                div
                    input
                        &:checked+label
                            border: 2px solid #7bb63c
                            &:before
                                width: 13px
                                height: 13px
                    label:not(.clc-form__type-wrapper__radio)
                        padding-left: 11px
                        font-size: 13px
                &__radio
                    width: 20px
                    height: 20px
            &__submit
                margin-top: 7px
                width: 100%
            &__btn
                height: 70px
                font-size: 15px
            &__policy
                margin-top: 15px
                padding: 0 30px 0 20px