.container
    position: relative
    margin: 0 auto
    width: 1247px

.container__cost-carousel
    width: calc(1247px + 90px)

// .container__result-carousel
//     width: calc(1247px + 70px)

@media only screen and (max-width: 1620px)
    .container
        &__cost-carousel
            width: 1247px

@media only screen and (max-width: 1540px)
    .container
        width: 1230px

@media only screen and (max-width: 1499px)
    .container
        width: 1140px

@media only screen and (max-width: 1199px)
    .container
        width: 980px

@media only screen and (max-width: 768px)
    .container
        width: 100%
        padding: 0 60px
    .promo
        .container
            padding: 0 30px

@media only screen and (max-width: 425px)
    .promo
        .container
            padding: 0 15px
    
    .container
        width: 100%
        padding: 0 15px