.discount
    padding: 130px 0 125px 0
    width: 100%
    min-height: 1313px
    background: url('../img/discount_bg.jpg')
    &__wrapper
        position: relative
        display: flex
        justify-content: space-between
        align-items: flex-end
        width: 100%
    &__book-img
        position: absolute
        max-width: 807px
        top: 0
        left: -190px
    &__charter
        display: flex
        align-items: flex-end
        margin-top: 730px
        width: 608px
    &__letter-img
        max-width: 200px
    &__descr
        margin-bottom: 50px
        margin-left: 36px
        font-size: 25px
        font-weight: 600
        line-height: normal
        color: #49494b

@media only screen and (max-width: 1540px)
    .discount
        &__book-img
            left: -120px

@media only screen and (max-width: 1499px)
    .discount
        &__book-img
            left: -145px
            max-width: 780px

@media only screen and (max-width: 1390px)
    .discount
        &__book-img
            left: -70px
            max-width: 680px

@media only screen and (max-width: 1199px)
    .discount
        &__book-img
            max-width: 550px

@media only screen and (max-width: 768px)
    .discount
        padding: 100px 0
        &__book-img
            display: none
        &__letter-img
            display: none
        &__charter
            display: none
    .modal-form
        &_mt50
            margin-top: 50px            