.modal-form
    padding: 50px 60px
    width: 508px
    min-height: 665px
    border-radius: 20px
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.05)
    border: 5px dashed #fccd63
    background-color: #ffffff
    &__title
        font-size: 35px
        font-weight: bold
        line-height: normal
        color: #49494b
        text-align: center
    &__subtitle
        margin-top: 12px
        font-size: 25px
        font-weight: normal
        line-height: normal
        color: #49494b
        text-align: center
    &__form
        margin-top: 50px
        width: 100%
        input
            margin-bottom: 30px
            padding: 20px 0 19px 58px
            width: 100%
            height: 73px
            border: none
            border-radius: 50px
            box-shadow: inset 0 3px 5px 0 rgba(0, 0, 0, 0.1)
            background-color: #ffffff
            font-size: 25px
            font-weight: normal
            line-height: normal
            color: rgba(73, 73, 75, 0.7)
    &__descr
        margin-top: 50px
        font-size: 20px
        font-weight: normal
        line-height: normal
        color: #49494b
        text-align: center
    &__social
        display: flex
        justify-content: space-between
        margin-top: 34px
        width: 100%
        a
            display: block
            img
                width: 70px
                height: 70px
    .error 
        border: 1px solid red
    label.error 
        display: block
        border: none
        transform: translateY(-10px)
        text-align: center
        margin-bottom: 5px



.overlay
    display: none
    position: fixed
    width: 100%
    height: 100%
    top: 0
    background-color: rgba(0, 0, 0, .56)
    z-index: 25

.modal-form
    &_overlay
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        z-index: 25
        border: 5px solid #fccd63
    &__close
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        position: absolute
        top: -28px
        right: -34px
        width: 100px
        height: 100px
        border-radius: 100%
        background-color: #e3e3e3
        cursor: pointer
        z-index: 27
        span
            display: block
            width: 50px
            height: 2px
            background-color: #000000
            transform: rotate(45deg)
            &:nth-child(2)
                transform: translateY(-2px) rotate(-45deg)

.calculator_modal-wrapper
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    z-index: 25
    &_yellow
        z-index: 26
    &__wrapper
        z-index: 26


#callback-form, #calculator-modal
    display: none

@media only screen and (max-width: 768px)
    .modal-form
        padding-left: 30px
        padding-right: 30px
        &_mt50
            margin: 0 auto
            margin-top: 50px 
    .calculator_modal-wrapper
        width: 482px
        height: 1057px