.license
    padding: 115px 0 145px 0
    &__wrapper
        display: flex
        justify-content: space-between
        align-items: flex-start
        margin-top: 50px
        &-carousel
            display: none
        &-item
            width: 100%
            img
                display: block
                width: 170px
                margin: 0 auto
                margin-top: 25px
    &__item
        display: block
        max-width: 320px
    &__wrapper-carousel
        display: none

.prev_license
    display: none
    position: absolute
    top: 405px
    left: 76%
.next_license
    display: none
    position: absolute
    top: 225px
    left: 76%


@media only screen and (max-width: 1199px)
    .license
        padding: 90px 0 140px 0
        &__item
            width: 300px

@media only screen and (max-width: 991px)
    .license
        &__item
            width: 220px
            
@media only screen and (max-width: 767px)
    .license
        &__blocker
            width: 80%
        &__wrapper
            display: none
            &-carousel
                display: block
            &-item
                img
                    width: 300px
        .prev_license, .next_license
            display: inline-block

@media only screen and (max-width: 575px)
    .license
        padding: 60px 0 100px 0
        &__blocker
            width: 80%
        &__wrapper
            &-item
                img
                    width: 235px
    .prev_license
        top: 330px
    .next_license
        top: 240px

@media only screen and (max-width: 419px)
    .license
        &__wrapper
            &-item
                img
                    width: 175px
        
            