.services
    padding: 125px 0 130px 0
    min-height: 800px
    &__wrapper
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        margin-top: 92px
        width: 100%
        &-carousel
            display: block
            margin-top: 0
            padding: 20px 0
            .card
                margin: 0 auto
            > div
                width: 100%
    &__carousel
        position: relative
        display: none
        margin-top: 55px
        width: 350px

.card
    display: flex
    flex-direction: column
    justify-content: space-between
    position: relative
    margin-bottom: 45px
    padding: 38px 100px 42px 39px
    width: 350px
    height: 212px
    border-radius: 20px
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25)
    background-color: #ffffff
    overflow: hidden
    z-index: 1
    &:before
        content: ''
        display: block
        position: absolute
        bottom: 42px
        left: 240px
        width: 237px
        height: 237px
        border-radius: 100%
        background-color: $main-color
        z-index: 2
    &__number
        position: absolute
        top: 38px
        left: 268px
        font-size: 45px
        font-weight: 800
        line-height: normal
        color: #ffffff
        z-index: 3
    &__title
        font-size: 23px
        font-weight: 600
        line-height: normal
        color: #49494b
        z-index: 4
    &__cost
        font-size: 23px
        font-weight: normal
        line-height: normal
        color: #49494b
        z-index: 3
        span
            font-weight: bold
            color: $main-color

.prev_services
    display: none
    position: absolute
    top: 120px
    left: 110%
.next_services
    display: none            
    position: absolute
    top: -14px
    left: 110%


@media only screen and (max-width: 1199px)
    .card
        padding: 25px 100px 25px 25px
        width: 293px
        height: 163px
        &:before
            bottom: 20px
            left: 200px
        &__number
            top: 17px
            left: 222px
            font-size: 43px
        &__title
            font-size: 20px
        &__cost
            font-size: 19px

@media only screen and (max-width: 991px)
    .services
        &__wrapper
            justify-content: space-around

@media only screen and (max-width: 767px)
    #services__wrapper
        display: none
    .services
        padding: 75px 0 78px 0
        min-height: 200px
        &__carousel
            display: block
    .next_services, .prev_services
        display: inline-block

@media only screen and (max-width: 575px)
    .services
        padding: 45px 0 55px 0
        &__carousel
            margin-top: 25px
            width: 80%
    .card
        padding: 13px 80px 13px 13px
        width: 220px
        height: 125px
        box-shadow: 0 4px 10px 0 rgba(0,0,0,.25);
        &:before
            width: 140px
            height: 140px
            left: 150px
            bottom: 22px
        &__title
            font-size: 13px
        &__cost
            font-size: 11px
        &__number
            top: 11px
            left: 165px
            font-size: 30px
    .prev_services, .next_services
        left: 103%
    .prev_services
        top: 90px
    .next_services
        top: 20px

@media only screen and (max-width: 350px)
    .card
        padding: 13px 65px 13px 13px
        width: 200px
        height: 125px
        &:before
            left: 140px
        &__number
            left: 155px

    
                