body
    background-color: #f0f0f0
    
.main
    padding-top: 50px
    &__nav
        margin-left: 45px
    &__wrapper
        margin-left: 55px
        padding: 0px 0 40px

.nav
    &__item
        a
            font-size: 17px
            font-weight: 500

.title
    margin-left: 60px

.form
    margin-top: 50px
    margin-left: 15px
    padding: 30px 40px

    background-color: #e58e26
    
    border-radius: 5px
    &__title
        margin-bottom: 20px

        color: #ffffff
    &__label
        font-size: 18px
        color: #ffffff

        cursor: pointer
        &_check
            color: #ffffff

            cursor: pointer
    &__submit
        font-size: 18px
    &__textarea
        resize: none

    